{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_card_category') }}" class="button small"><i class="fa fa-folder"></i> {{ ('card.category.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_card_product') }}" class="button small"><i class="fa fa-cube"></i> {{ ('card.product.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_card_ingredient') }}" class="button small"><i class="fa fa-tag"></i> {{ ('card.ingredient.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_share_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_delete_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_header %}
    <th>{{ (instance.translation ~ '.admin.index.table.header.image')|trans }}</th>
    {{ parent() }}
    <th {% if pagination.isSorted('sort_parent') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, (instance.translation ~ '.admin.index.table.header.parent')|trans, 'sort_parent')|raw }}</th>
    <th {% if pagination.isSorted('sort_category') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, (instance.translation ~ '.admin.index.table.header.categories')|trans, 'sort_category')|raw }}</th>
    <th {% if pagination.isSorted('sort_product') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, (instance.translation ~ '.admin.index.table.header.products')|trans, 'sort_product')|raw }}</th>
    <th {% if pagination.isSorted('sort_ingredient') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, (instance.translation ~ '.admin.index.table.header.ingredients')|trans, 'sort_ingredient')|raw }}</th>
{% endblock %}

{% block content_data_body %}
    <td>{{ object.getImage()|image('s',50)|raw }}</td>
    {{ parent() }}
    <td>{{ object.getParent() ? object.getParent().getName() : '' }}</td>
    <td>{{ object.getVarSort('category') }}</td>
    <td>{{ object.getVarSort('product') }}</td>
    <td>{{ object.getVarSort('ingredient') }}</td>
{% endblock %}