{% trans_default_domain instance.domain %}

{% if demo is defined %}
    <div class="gallery home-top row">
        <div class="gallery-item">
            <div class="image" style="background:url({{ asset('images/demo/gallery/gallery-item1.jpg') }})"></div>
            <div class="caption">
                <h2>Praesent neque arcu</h2>
                <h3 class="subtitle">Sed posuere dolor vel nulla</h3>
                <p>Maecenas pellentesque risus vel ipsum pulvinar, eu laoreet leo venenatis. In fringilla justo nec
                    lorem malesuada, et accumsan neque lacinia. Aliquam erat volutpat. Fusce a tellus tellus. Praesent
                    neque arcu, efficitur sit amet libero vulputate, dignissim malesuada ipsum.</p>
            </div>
        </div>
        <div class="gallery-item">
            <div class="image" style="background:url({{ asset('images/demo/gallery/gallery-item2.jpg') }})"></div>
            <div class="caption">
                <h2>Praesent neque arcu</h2>
                <h3 class="subtitle">Sed posuere dolor vel nulla</h3>
                <p>Maecenas pellentesque risus vel ipsum pulvinar, eu laoreet leo venenatis. In fringilla justo nec
                    lorem malesuada, et accumsan neque lacinia. Aliquam erat volutpat. Fusce a tellus tellus.</p>
            </div>
        </div>
        <div class="gallery-item">
            <div class="image" style="background:url({{ asset('images/demo/gallery/gallery-item3.jpg') }})"></div>
            <div class="caption">
                <h2>Praesent neque arcu</h2>
                <h3 class="subtitle">Sed posuere dolor vel nulla</h3>
                <p>Maecenas pellentesque risus vel ipsum pulvinar, eu laoreet leo venenatis.</p>
            </div>
        </div>
        <div class="gallery-item">
            <div class="image" style="background:url({{ asset('images/demo/gallery/gallery-item4.jpg') }})"></div>
            <div class="caption">
                <h2>Praesent neque arcu</h2>
                <h3 class="subtitle">Sed posuere dolor vel nulla</h3>
                <p>Maecenas pellentesque risus vel ipsum pulvinar, eu laoreet leo venenatis. In fringilla justo nec
                    lorem malesuada, et accumsan neque lacinia. Aliquam erat volutpat.</p>
            </div>
        </div>
        <div class="gallery-videos">
            <h2>{{ (instance.translation ~ '.front.detail.video.title')|trans }}</h2>
            <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                <li>
                    <iframe width='250' height='200' src='https://player.vimeo.com/video/122647096' frameborder='0' allowfullscreen></iframe>
                </li>
                <li>
                    <iframe width='250' height='200' src='https://player.vimeo.com/video/122647096' frameborder='0' allowfullscreen></iframe>
                </li>
                <li>
                    <iframe width='250' height='200' src='https://player.vimeo.com/video/122647096' frameborder='0' allowfullscreen></iframe>
                </li>
                <li>
                    <iframe width='250' height='200' src='https://player.vimeo.com/video/122647096' frameborder='0' allowfullscreen></iframe>
                </li>
            </ul>
        </div>
    </div>
{% else %}
    <div class="gallery home-top row">
        {% if items|length > 0 %}
            {% for item in items %}
                <div class="gallery-item">
                    <div class="image" style="background:url({{ item.getImage()|media }})"></div>
                    <div class="caption">
                        <h2>{{ item.getTitle() }}</h2>
                        <h3 class="subtitle">{{ item.getSubtitle() }}</h3>
                        <p>{{ item.getContent()|raw }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if videos|length > 0 %}
            <div class="gallery-videos">
                <h2>{{ (instance.translation ~ '.front.detail.video.title')|trans }}</h2>
                <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-4">
                    {% for video in videos %}
                        <li>
                            {{ video.getVideo()|video(250,200)|raw }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endif %}
<script>
    $(document).ready(function ()
    {
        $(".gallery.home-top .caption:even")
            .on("inViewBegin", function ()
            {
                $(this).addClass("animated").addClass("bounceInRight");
            })
            .on("inViewEnd", function ()
            {
                $(this).removeClass("animated").removeClass("bounceInRight");
            });
        $(".gallery.home-top .caption:odd")
            .on("inViewBegin", function ()
            {
                $(this).addClass("animated").addClass("bounceInLeft");
            })
            .on("inViewEnd", function ()
            {
                $(this).removeClass("animated").removeClass("bounceInLeft");
            });
    });
</script>