{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/create.html.twig" %}

{% block content_data_seo %}{% endblock %}

{% block content_data_fields_data %}
    {{ parent() }}
    <div class="large-6 medium-6 small-12 columns">
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.tasks')|trans }}</legend>
            <div class="row">
                {{ form_label(form.tasks) }}
                {{ form_errors(form.tasks) }}
                {{ form_widget(form.tasks) }}
            </div>
        </fieldset>
    </div>
{% endblock %}

{% block content_data_fields %}
    {{ parent() }}
    <div class="form-bloc form-fields row">
        <div class="large-4 medium-4 small-12 columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.validate')|trans }}</legend>
                <div class="row">
                    {{ form_label(form.validate_check) }}
                    {{ form_errors(form.validate_check) }}
                    <div class="switch">
                        {{ form_widget(form.validate_check) }}
                        <label for="{{ form.validate_check.vars.id }}"></label>
                    </div>
                </div>
                <div class="row">
                    {{ form_label(form.validate_users) }}
                    {{ form_errors(form.validate_users) }}
                    {{ form_widget(form.validate_users) }}
                </div>
            </fieldset>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.dismiss')|trans }}</legend>
                <div class="row">
                    {{ form_label(form.dismiss_check) }}
                    {{ form_errors(form.dismiss_check) }}
                    <div class="switch">
                        {{ form_widget(form.dismiss_check) }}
                        <label for="{{ form.dismiss_check.vars.id }}"></label>
                    </div>
                </div>
                <div class="row">
                    {{ form_label(form.dismiss_users) }}
                    {{ form_errors(form.dismiss_users) }}
                    {{ form_widget(form.dismiss_users) }}
                </div>
            </fieldset>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.cancel')|trans }}</legend>
                <div class="row">
                    {{ form_label(form.cancel_check) }}
                    {{ form_errors(form.cancel_check) }}
                    <div class="switch">
                        {{ form_widget(form.cancel_check) }}
                        <label for="{{ form.cancel_check.vars.id }}"></label>
                    </div>
                </div>
                <div class="row">
                    {{ form_label(form.cancel_users) }}
                    {{ form_errors(form.cancel_users) }}
                    {{ form_widget(form.cancel_users) }}
                </div>
            </fieldset>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.upload')|trans }}</legend>
                <div class="row">
                    {{ form_label(form.upload_check) }}
                    {{ form_errors(form.upload_check) }}
                    <div class="switch">
                        {{ form_widget(form.upload_check) }}
                        <label for="{{ form.upload_check.vars.id }}"></label>
                    </div>
                </div>
                <div class="row">
                    {{ form_label(form.upload_users) }}
                    {{ form_errors(form.upload_users) }}
                    {{ form_widget(form.upload_users) }}
                </div>
            </fieldset>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.download')|trans }}</legend>
                <div class="row">
                    {{ form_errors(form.download_check) }}
                    {{ form_label(form.download_check) }}
                    <div class="switch">
                        {{ form_widget(form.download_check) }}
                        <label for="{{ form.download_check.vars.id }}"></label>
                    </div>
                </div>
                <div class="row">
                    {{ form_label(form.download_users) }}
                    {{ form_errors(form.download_users) }}
                    {{ form_widget(form.download_users) }}
                </div>
            </fieldset>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.comment')|trans }}</legend>
                <div class="row">
                    {{ form_errors(form.comment_check) }}
                    {{ form_label(form.comment_check) }}
                    <div class="switch">
                        {{ form_widget(form.comment_check) }}
                        <label for="{{ form.comment_check.vars.id }}"></label>
                    </div>
                </div>
                <div class="row">
                    {{ form_label(form.comment_users) }}
                    {{ form_errors(form.comment_users) }}
                    {{ form_widget(form.comment_users) }}
                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}