{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_workflow') }}" class="button small"><i class="fa fa-sitemap"></i> {{ ('workflow.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_task') }}" class="button small"><i class="fa fa-square"></i> {{ ('workflow.task.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_step') }}" class="button small"><i class="fa fa-columns"></i> {{ ('workflow.step.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_comment') }}" class="button small"><i class="fa fa-comment"></i> {{ ('workflow.comment.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_log') }}" class="button small"><i class="fa fa-history"></i> {{ ('workflow.log.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_header %}
    {{ parent() }}
    <th>{{ (instance.translation ~ '.admin.index.table.header.tasks')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.buttons')|trans }}</th>
{% endblock %}

{% block content_data_body %}
    {{ parent() }}
    <td>{{ document.getTasks()|length }}</td>
    <td>
        <span class="label {{ document.getValidateCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.actions.buttons.validate')|trans }}"><i class="fa fa-fw fa-check"></i></span>
        <span class="label {{ document.getDismissCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.actions.buttons.dismiss')|trans }}"><i class="fa fa-fw fa-times"></i></span>
        <span class="label {{ document.getCancelCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.actions.buttons.cancel')|trans }}"><i class="fa fa-fw fa-ban"></i></span>
        <span class="label {{ document.getUploadCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.actions.buttons.upload')|trans }}"><i class="fa fa-fw fa-upload"></i></span>
        <span class="label {{ document.getDownloadCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.actions.buttons.download')|trans }}"><i class="fa fa-fw fa-download"></i></span>
        <span class="label {{ document.getCommentCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.actions.buttons.comment')|trans }}"><i class="fa fa-fw fa-comment"></i></span>
    </td>
{% endblock %}