{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_data_header_status %}{% endblock %}
{% block content_data_status %}{% endblock %}
{% block content_data_action_share_links %}{% endblock %}
{% block content_data_action_delete_links %}{% endblock %}
{% block content_data_action_links %}{% endblock %}
{% block content_link_data %}{% endblock %}
{% block content_data_action_alert %}{% endblock %}
{% block content_data_action_delete_button %}{% endblock %}

{% block content_data_header %}
    <th {% if pagination.isSorted('name') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(pagination,  (instance.translation ~ '.admin.index.table.header.name')|trans, 'name')|raw }}</th>
    <th {% if pagination.isSorted('type') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(pagination,  (instance.translation ~ '.admin.index.table.header.type')|trans, 'type')|raw }}</th>
    <th {% if pagination.isSorted('objectId') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(pagination,  (instance.translation ~ '.admin.index.table.header.objectid')|trans, 'objectid')|raw }}</th>
    <th {% if pagination.isSorted('date_create') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(pagination,  (instance.translation ~ '.admin.index.table.header.date_create')|trans, 'date_create')|raw }}</th>
{% endblock %}

{% block content_data_body %}
    <td>{{ document.getName() }}</td>
    <td>{{ document.getType() }}</td>
    <td>{{ document.getObjectId() }}</td>
    <td>{{ document.getDateCreate()| localizeddate('short', 'medium', app.request.locale)}}</td>
{% endblock %}
{% block content_data_action_button %}
    <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_restore', {'id': document.getId()}) }}" class="tiny radius button split no-pip">
        <i class="fa fa-window-restore" aria-hidden="true"></i>
        {{ (instance.translation ~ '.admin.index.table.action.restore')|trans }}
    </a>
    <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_detail', {'id': document.getId()}) }}" class="tiny radius button split no-pip success">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        {{ (instance.translation ~ '.admin.index.table.action.detail')|trans }}
    </a>
{% endblock %}
