{% trans_default_domain instance.domain %}
{% import "::Macros/card.html.twig" as macroCard %}
<div class="dd-tree">
    <div class="dd-tree-master" data-id="{{ card.getId() }}">
        <div class="dd-tree-handle"><i class="fa fa-cube"></i></div>
        <div class="dd-tree-content {{ card.getActive() ? "" : "deactive" }} {{ card.getDelete() ? "delete" : "" }}">
            <div class="pull-left">{{ card.getName() }}</div>
            <div class="pull-right">
                <a href="#" data-reveal-id="modal-editor" data-modal="product" data-url="{{ path('fhm_api_card_product_create',{idCard:card.getId()}) }}" title="{{ ('card.api.action.add')|trans }}"><i class="fa fa-plus"></i> {{ ('card.api.action.add')|trans }}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="column medium-6 large-4">
    <div class="editor-list">
        <input type="text" class="search" value="" placeholder="{{ ('card.api.form.search')|trans }}" data-url="{{ path('fhm_api_card_product_search',{id:card.getId()}) }}">
        <div id="editor-search">
            {% render(path('fhm_api_card_product_search',{id:card.getId()})) %}
        </div>
    </div>
</div>
<div class="column medium-6 large-8">
    {{ macroCard.product(card, trees, instance) }}
</div>
