{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Front/index.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&libraries=places"></script>
{% endblock %}

{% block content %}
    <div id="content_data" class="contact row">
    {% if pagination %}
        {% set order = null %}
        {% set profile = null %}
        {% for object in pagination %}
            {% if loop.index == 1 %}
                {% set order = object.getOrder() %}
            {% endif %}
            {% if object.getProfile() %}
                {% if profile == null %}
                    {% if loop.index > 1 %}
                        <div class="separator"></div>
                    {% endif %}
                    <ul class="profile-list">
                    {% set profile = true %}
                {% endif %}
                {% if profile != null and order != object.getOrder() %}
                    </ul>
                    <ul class="profile-list">
                {% endif %}
                {% include ['::FhmContact/Template/bloc.profile.' ~ object.getProfileTemplate() ~ '.html.twig', '::FhmContact/Template/bloc.profile.html.twig'] %}
            {% else %}
                {% if profile != null %}
                    </ul>
                    {% if loop.index > 1 %}
                        <div class="separator"></div>
                    {% endif %}
                    {% set profile = null %}
                {% endif %}
                {% include('::FhmContact/Template/bloc.form.html.twig') %}
            {% endif %}
            {% set order = object.getOrder() %}
        {% endfor %}
        {% if profile != null %}
            </div>
        {% endif %}
    {% else %}
        <div class="nodata">
            {{ (instance.translation ~ '.front.index.nodata')|trans }}
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script>
        {% for object in pagination %}
        {% if not object.getProfile() and object.getLatitude() %}
        $(document).addresspicker({
            view: {
                map: 'map-{{ object.getId() }}',
                lat: {{ object.getLatitude() }},
                lng: {{ object.getLongitude() }}
            }
        });
        {% endif %}
        {% endfor %}
    </script>
{% endblock %}