{% trans_default_domain instance.domain %}

<li class="forward">
    <div class="content" style="background:url('{{ product.getImage()|media('s') }}') center center no-repeat">
        <span class="name">{{ product.getName() }}</span>
        <span class="price">{{ product.getPrice()|number_format(2) }}{{ product.getCurrency() }}</span>
        <div class="ingredient-content">
            <span class="title">{{ 'card.ingredient.front.index.link'|trans }}</span>
            {% if product.getIngredients().count() > 0 %}
                {% render(path('fhm_api_card_ingredient_embed', {idCard:card.getId(), idProduct:product.getId(), template:'inline'})) %}
            {% endif %}
        </div>
    </div>
</li>