{% trans_default_domain instance.domain %}
{% import "::Macros/pagination.html.twig" as macroPagination %}

<div class="row">
    <div class="medium-6 columns">
        <form action="#" method="POST">
            <div class="row collapse">
                <div class="small-11 columns">
                    <input type="text" class="FhmSearch_search" name="FhmSearch[search]" placeholder="{{ (instance.translation ~ '.admin.index.form.search')|trans }}" data-type="search">
                </div>
                <div class="small-1 columns end">
                    <button class="button postfix" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="medium-4 columns">
        <a href="#" class="button success media-modal media-modal-new media-new" data-reveal-id="{{ modalNew }}">{{ (instance.translation ~ '.admin.index.form.new')|trans }}</a>
    </div>
</div>
<div class="row media" data-path="{{ path('fhm_api_media_data_selector') }}">
    <div class="large-2 columns media-tags">
        {% if tagMains %}
            <ul class="side-nav">
                <li><a href="#" media-tag="">{{ (instance.translation ~ '.admin.index.tags.all')|trans }}</a></li>
                <li>
                    <hr/>
                </li>
                {% for tagMain in tagMains %}
                    <li><a href="#" media-tag="{{ tagMain.getId() }}">{{ tagMain|tagLabel|raw }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="large-10 columns media-datas">
        {{ tag ? tag|tagBreadcrumbs(root)|raw : '' }}
        {% if tagSons %}
            <div class="row bloc tags">
                {% for tagSon in tagSons %}
                    <div class="large-3 medium-4 small-6 columns end">
                        {{ tagSon|tagBlocSelector(instance)|raw }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if objects %}
            <div class="row bloc medias">
                {% for object in objects %}
                    <div class="large-3 medium-4 small-6 columns end">
                        {{ object|blocSelector(instance, selected)|raw }}
                    </div>
                {% endfor %}
            </div>
            {{ macroPagination.print(pagination, true) }}
        {% else %}
            <div class="panel nodata bloc">
                <p>{{ (instance.translation ~ '.admin.index.nodata')|trans }}</p>
            </div>
        {% endif %}
    </div>
</div>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>

