{% trans_default_domain instance.domain %}
{% extends '::FhmFhm/Admin/detail.html.twig' %}

{% block content_data_information %}
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.id')|trans }}</strong></td>
        <td>{{ object.getId() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.create')|trans }}</strong></td>
        <td>{{ object.getUserCreate() ? object.getUserCreate().getUsername() ~ ' - ' : '' }}{{ object.getDateCreate() | localizeddate('full', 'short', app.request.locale) }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.update')|trans }}</strong></td>
        <td>{{ object.getUserUpdate() ? object.getUserUpdate().getUsername() ~ ' - ' : '' }}{{ object.getDateUpdate() | localizeddate('full', 'short', app.request.locale) }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.activity')|trans }}</strong></td>
        <td>{{ object.getDateActivity() ? object.getDateActivity() | localizeddate('full', 'short', app.request.locale) : '' }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.username')|trans }}</strong></td>
        <td>{{ object.getUsername() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.email')|trans }}</strong></td>
        <td>{{ object.getEmail() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.avatar')|trans }}</strong></td>
        <td>{{ object.getAvatar()|image('xs', 100, '/images/default-avatar.jpg')|raw }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.firstname')|trans }}</strong></td>
        <td>{{ object.getFirstname() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.lastname')|trans }}</strong></td>
        <td>{{ object.getLastname() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.birthdate')|trans }}</strong></td>
        <td>{{ object.getBirthdate()|localizeddate('long', 'none') }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.tel1')|trans }}</strong></td>
        <td>{{ object.getTel1() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.tel2')|trans }}</strong></td>
        <td>{{ object.getTel2() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.address')|trans }}</strong></td>
        <td>{{ object|addressHtml|raw }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.alias')|trans }}</strong></td>
        <td>{{ object.getAlias() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.sign')|trans }}</strong></td>
        <td>{{ object.getSign()|raw }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.status')|trans }}</strong></td>
        <td>
            {% if object.getDelete() %}
                <span class="status alert radius label">{{ ('fhm.status.delete')|trans({}, 'FhmFhmBundle') }}</span>
            {% elseif not object.getActive() %}
                <span class="status warning radius label">{{ ('fhm.status.disable')|trans({}, 'FhmFhmBundle') }}</span>
            {% else %}
                <span class="status success radius label">{{ ('fhm.status.enable')|trans({}, 'FhmFhmBundle') }}</span>
            {% endif %}
            {% if object.getShare() and not object.hasGrouping(instance.grouping.used) %}
                <span class="status regular radius label">{{ ('fhm.status.share')|trans({}, 'FhmFhmBundle') }}</span>
            {% endif %}
            {% if not object.isAccountNonExpired() %}
                <span class="status alert radius label">{{ (instance.translation ~ '.status.expired')|trans }}</span>
            {% endif %}
        </td>
    </tr>
{% endblock %}

{% block content_admin_data %}
    {{ parent() }}
    <div class="row">
        {{ macroList.admin
        (
        object,
        switch_roles ,
        object.getRolesList(),
        '',
        'fhm_admin_' ~ instance.route ~ '_roles',
        (instance.translation ~ '.admin.detail.roles.title')|trans,
        (instance.translation ~ '.admin.detail.roles.list1')|trans,
        (instance.translation ~ '.admin.detail.roles.list2')|trans,
        2,
        instance
        ) }}
    </div>
    <div class="row">
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.detail.password.title')|trans }}</legend>
            <form action="{{ path('fhm_admin_' ~ instance.route ~ '_password', {'id': object.getId()}) }}"
                  method="POST" }}>
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_errors(formPassword) }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        {{ form_label(formPassword.plainPassword.first) }}
                        {{ form_errors(formPassword.plainPassword.first) }}
                        {{ form_widget(formPassword.plainPassword.first) }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        {{ form_label(formPassword.plainPassword.second) }}
                        {{ form_errors(formPassword.plainPassword.second) }}
                        {{ form_widget(formPassword.plainPassword.second) }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_widget(formPassword.submit, {'attr':{'class':'small'}}) }}
                    </div>
                </div>
                {{ form_rest(formPassword) }}
            </form>
        </fieldset>
    </div>
{% endblock %}