{% trans_default_domain instance.domain %}
{% extends '::FhmFhm/Admin/detail.html.twig' %}

{% block content_data_information %}
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.id')|trans }}</strong></td>
        <td>{{ document.getId() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.create')|trans }}</strong></td>
        <td>{{ document.getUserCreate() ? document.getUserCreate().getUsername() ~ ' - ' : '' }}{{ document.getDateCreate() | localizeddate('full', 'short', app.request.locale) }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.update')|trans }}</strong></td>
        <td>{{ document.getUserUpdate() ? document.getUserUpdate().getUsername() ~ ' - ' : '' }}{{ document.getDateUpdate() | localizeddate('full', 'short', app.request.locale) }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.activity')|trans }}</strong></td>
        <td>{{ document.getDateActivity() ? document.getDateActivity() | localizeddate('full', 'short', app.request.locale) : '' }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.username')|trans }}</strong></td>
        <td>{{ document.getUsername() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.email')|trans }}</strong></td>
        <td>{{ document.getEmail() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.avatar')|trans }}</strong></td>
        <td>{{ document.getAvatar()|image('xs', 100, '/images/default-avatar.jpg')|raw }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.firstname')|trans }}</strong></td>
        <td>{{ document.getFirstname() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.lastname')|trans }}</strong></td>
        <td>{{ document.getLastname() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.birthdate')|trans }}</strong></td>
        <td>{{ document.getBirthdate()|localizeddate('long', 'none') }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.tel1')|trans }}</strong></td>
        <td>{{ document.getTel1() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.tel2')|trans }}</strong></td>
        <td>{{ document.getTel2() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.address')|trans }}</strong></td>
        <td>{{ document|addressHtml|raw }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.alias')|trans }}</strong></td>
        <td>{{ document.getAlias() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.sign')|trans }}</strong></td>
        <td>{{ document.getSign()|raw }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.status')|trans }}</strong></td>
        <td>
            {% if document.getDelete() %}
                <span class="status alert radius label">{{ ('fhm.status.delete')|trans({}, 'FhmFhmBundle') }}</span>
            {% elseif not document.getActive() %}
                <span class="status warning radius label">{{ ('fhm.status.disable')|trans({}, 'FhmFhmBundle') }}</span>
            {% else %}
                <span class="status success radius label">{{ ('fhm.status.enable')|trans({}, 'FhmFhmBundle') }}</span>
            {% endif %}
            {% if document.getShare() and not document.hasGrouping(instance.grouping.used) %}
                <span class="status regular radius label">{{ ('fhm.status.share')|trans({}, 'FhmFhmBundle') }}</span>
            {% endif %}
            {% if document.isLocked() %}
                <span class="status alert radius label">{{ (instance.translation ~ '.status.locked')|trans }}</span>
            {% endif %}
            {% if document.isExpired() %}
                <span class="status alert radius label">{{ (instance.translation ~ '.status.expired')|trans }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><strong>{{ grouping_name is defined ? grouping_name : (instance.translation ~ '.admin.detail.data.grouping')|trans }}</strong></td>
        <td>
            {% for data in document.getGrouping() %}
                <span class="status {{ data == instance.grouping.current ? 'success' : 'warning' }} radius label">{{ data }}</span>
            {% endfor %}
        </td>
    </tr>
{% endblock %}

{% block content_admin_data %}
    {{ parent() }}
    <div class="row">
        {{
        macroList.admin
        (
            document,
            {'ROLE_USER':'ROLE_USER','ROLE_MEMBER':'ROLE_MEMBER','ROLE_MODERATOR':'ROLE_MODERATOR','ROLE_ADMIN':'ROLE_ADMIN'},
            document.getRolesList(),
            '',
            'fhm_admin_' ~ instance.route ~ '_roles',
            (instance.translation ~ '.admin.detail.roles.title')|trans,
            (instance.translation ~ '.admin.detail.roles.list1')|trans,
            (instance.translation ~ '.admin.detail.roles.list2')|trans,
            2,
            instance
        )
        }}
    </div>
    <div class="row">
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.detail.password.title')|trans }}</legend>
            <form action="{{ path('fhm_admin_' ~ instance.route ~ '_password', {'id': document.getId()}) }}" method="POST" {{ form_start(formPassword) }}>
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_errors(formPassword) }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        {{ form_label(formPassword.plainPassword.first) }}
                        {{ form_errors(formPassword.plainPassword.first) }}
                        {{ form_widget(formPassword.plainPassword.first) }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        {{ form_label(formPassword.plainPassword.second) }}
                        {{ form_errors(formPassword.plainPassword.second) }}
                        {{ form_widget(formPassword.plainPassword.second) }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_widget(formPassword.submit, {'attr':{'class':'small'}}) }}
                    </div>
                </div>
                {{ form_rest(formPassword) }}
            </form>
        </fieldset>
    </div>
{% endblock %}