{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_data_header %}
    <th>{{ 'user.admin.index.table.header.username'|trans }}</th>
    <th>{{ 'user.admin.index.table.header.email'|trans }}</th>
    <th>{{ 'user.admin.index.table.header.firstname'|trans }}</th>
    <th>{{ 'user.admin.index.table.header.lastname'|trans }}</th>
    <th>{{ 'user.admin.index.table.header.create'|trans }}</th>
{% endblock %}

{% block content_data_body %}
    <td>{{ document.getUsername() }}</td>
    <td>{{ document.getEmailCanonical() }}</td>
    <td>{{ document.getFirstName() }}</td>
    <td>{{ document.getLastName() }}</td>
    <td>{{ document.getDateCreate()|localizeddate('short', 'short', app.request.locale)}}</td>
{% endblock %}

{% block content_data_status_data %}
    {{ parent() }}
    {% if not document.isAccountNonLocked() %}
        <span class="status alert radius label">{{ (instance.translation ~ '.status.locked')|trans }}</span>
    {% endif %}
    {% if not document.isAccountNonExpired() %}
        <span class="status alert radius label">{{ (instance.translation ~ '.status.expired')|trans }}</span>
    {% endif %}
{% endblock %}