{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_workflow') }}" class="button small"><i class="fa fa-sitemap"></i> {{ ('workflow.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_action') }}" class="button small"><i class="fa fa-ellipsis-h"></i> {{ ('workflow.action.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_step') }}" class="button small"><i class="fa fa-columns"></i> {{ ('workflow.step.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_comment') }}" class="button small"><i class="fa fa-comment"></i> {{ ('workflow.comment.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_log') }}" class="button small"><i class="fa fa-history"></i> {{ ('workflow.log.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_share_links %}
    {{ parent() }}
{% endblock %}

{% block content_data_action_delete_links %}
    {{ parent() }}
{% endblock %}

{% block content_data_action_links %}
    {{ parent() }}
    <li class="separator">
        <a href="{{ path('fhm_api_workflow_task_status_wait', {id:document.getId()}) }}" title="{{ ('workflow.status.wait')|trans }}" onclick="return confirm('{{ ('workflow.events.confirm.status')|trans }}')"><i class="fa fa-fw fa-circle-o"></i> {{ ('workflow.status.wait')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_api_workflow_task_status_run', {id:document.getId()}) }}" title="{{ ('workflow.status.run')|trans }}" onclick="return confirm('{{ ('workflow.events.confirm.status')|trans }}')"><i class="fa fa-fw fa-play-circle-o"></i> {{ ('workflow.status.run')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_api_workflow_task_status_finish', {id:document.getId()}) }}" title="{{ ('workflow.status.finish')|trans }}" onclick="return confirm('{{ ('workflow.events.confirm.status')|trans }}')"><i class="fa fa-fw fa-check-circle-o"></i> {{ ('workflow.status.finish')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_api_workflow_task_status_cancel', {id:document.getId()}) }}" title="{{ ('workflow.status.cancel')|trans }}" onclick="return confirm('{{ ('workflow.events.confirm.status')|trans }}')"><i class="fa fa-fw fa-ban"></i> {{ ('workflow.status.cancel')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_header %}
    {{ parent() }}
    <th>{{ (instance.translation ~ '.admin.index.table.header.parent')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.son')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.step')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.state')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.buttons')|trans }}</th>
{% endblock %}

{% block content_data_body %}
    {{ parent() }}
    <td>{{ document.getParents()|length }}</td>
    <td>{{ document.getSons()|length }}</td>
    <td>{{ document.getStep() ? document.getStep().getOrder() ~ ' - ' ~ document.getStep().getName() : '' }}</td>
    <td>
        {% if document.getStatus() == 3 %}
            <span class="label alert radius">{{ ('workflow.status.cancel')|trans }}</span>
        {% elseif document.getStatus() == 2 %}
            <span class="label success radius">{{ ('workflow.status.finish')|trans }}</span>
        {% elseif document.getStatus() == 1 %}
            <span class="label warning radius">{{ ('workflow.status.run')|trans }}</span>
        {% else %}
            <span class="label secondary radius">{{ ('workflow.status.wait')|trans }}</span>
        {% endif %}
    </td>
    <td>
        <span class="label {{ document.getAction() and document.getAction().getValidateCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.status.validate')|trans }}"><i class="fa fa-fw fa-check"></i></span>
        <span class="label {{ document.getAction() and document.getAction().getDismissCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.status.dismiss')|trans }}"><i class="fa fa-fw fa-times"></i></span>
        <span class="label {{ document.getAction() and document.getAction().getCancelCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.status.cancel')|trans }}"><i class="fa fa-fw fa-ban"></i></span>
        <br>
        <span class="label {{ document.getAction() and document.getAction().getUploadCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.status.upload')|trans }}"><i class="fa fa-fw fa-upload"></i></span>
        <span class="label {{ document.getAction() and document.getAction().getDownloadCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.status.download')|trans }}"><i class="fa fa-fw fa-download"></i></span>
        <span class="label {{ document.getAction() and document.getAction().getCommentCheck() ? 'success' : 'alert' }}" title="{{ ('workflow.status.comment')|trans }}"><i class="fa fa-fw fa-comment"></i></span>
    </td>
{% endblock %}