{% extends "::layout.admin.html.twig" %}
{% trans_default_domain instance.domain %}
{% import "::Macros/dd.list.html.twig" as macroList %}

{% block tagline %}
    <div class="row">
        <h1>
            {% block tagline_data %}
                {% block tagline_data_title %}
                    {{ (instance.translation ~ '.admin.index.title')|trans }}
                {% endblock %}
                <br/>
                <small>
                    {% block tagline_data_subtitle %}
                        {{ (instance.translation ~ '.admin.detail.title')|trans({'%name%': object.getName()}) }}
                    {% endblock %}
                </small>
            {% endblock %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    {# Links #}
    {% block content_link %}
        <div class="row">
            <ul class="button-group round">
                {% block content_link_data %}
                    <li>
                        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route) }}" class="button small secondary"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <li>
                        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_create') }}" class="button small success"><i class="fa fa-plus"></i> {{ (instance.translation ~ '.admin.create.link')|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_update', {'id': object.getId()}) }}" class="button small"><i class="fa fa-pencil"></i> {{ (instance.translation ~ '.admin.update.link')|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_import') }}" class="button small"><i class="fa fa-download"></i> {{ (instance.translation ~ '.admin.import.link')|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_export') }}" class="button small"><i class="fa fa-upload"></i> {{ (instance.translation ~ '.admin.export.link')|trans }}
                        </a>
                    </li>
                {% endblock %}
            </ul>
        </div>
    {% endblock %}

    {# Anchor #}
    {% block content_anchor %}
        <div class="row">
            <dl class="sub-nav">
                {% block content_anchor_data %}
                    <dt>{{ ('fhm.anchor.title')|trans({},'FhmFhmBundle') }} :</dt>
                    {% block content_anchor_link %}
                        <dd><a href="#anchor-admin-data">{{ ('fhm.anchor.data')|trans({},'FhmFhmBundle') }}</a></dd>
                        <dd><a href="#anchor-admin-url">{{ ('fhm.anchor.url')|trans({},'FhmFhmBundle') }}</a></dd>
                        {% if historics is defined and historics != null %}
                            <dd>
                                <a href="#anchor-admin-historic">{{ ('fhm.anchor.historic')|trans({},'FhmFhmBundle') }}</a>
                            </dd>
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            </dl>
        </div>
    {% endblock %}

    {# Document #}
    {% block content_data %}
        <div class="row">
            <h2 id="anchor-admin-data">{{ (instance.translation ~ '.admin.detail.data.title')|trans }}</h2>
            <table class="fullwidth">
                <tbody>
                    {% block content_data_information %}
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.data.id')|trans }}</strong></td>
                            <td>{{ object.getId() }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.data.create')|trans }}</strong></td>
                            <td>{{ object.getUserCreate() ? object.getUserCreate().getUsername() ~ ' - ' : '' }}{{ object.getDateCreate() | localizeddate('full', 'short', app.request.locale) }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.data.update')|trans }}</strong></td>
                            <td>{{ object.getUserUpdate() ? object.getUserUpdate().getUsername() ~ ' - ' : '' }}{{ object.getDateUpdate() | localizeddate('full', 'short', app.request.locale) }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.data.name')|trans }}</strong></td>
                            <td>{{ object.getName() }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.data.alias')|trans }}</strong></td>
                            <td>{{ object.getAlias() }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.data.description')|trans }}</strong>
                            </td>
                            <td>{{ object.getDescription() }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.data.status')|trans }}</strong></td>
                            <td>
                                {% if object.getDelete() %}
                                    <span class="status alert radius label">{{ ('fhm.status.delete')|trans({}, 'FhmFhmBundle') }}</span>
                                {% elseif not object.getActive() %}
                                    <span class="status warning radius label">{{ ('fhm.status.disable')|trans({}, 'FhmFhmBundle') }}</span>
                                {% else %}
                                    <span class="status success radius label">{{ ('fhm.status.enable')|trans({}, 'FhmFhmBundle') }}</span>
                                {% endif %}
                                {% if object.getShare()%}
                                    <span class="status regular radius label">{{ ('fhm.status.share')|trans({}, 'FhmFhmBundle') }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endblock %}
                </tbody>
            </table>
        </div>
    {% endblock %}

    {# URL #}
    {% block content_url %}
        <div class="row">
            <h2 id="anchor-admin-url">{{ (instance.translation ~ '.admin.detail.url.title')|trans }}</h2>
            <table class="fullwidth">
                <tbody>
                    {% block content_url_information %}
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.url.admin.edit')|trans }}</strong>
                            </td>
                            <td>{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_update', {'id':object.getId()}) }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.url.admin.detail')|trans }}</strong>
                            </td>
                            <td>{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_detail', {'id':object.getId()}) }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.url.front.id')|trans }}</strong></td>
                            <td>{{ path(instance.source ~ '_' ~ instance.route ~ '_detail', {'id':object.getId()}) }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.url.front.name')|trans }}</strong>
                            </td>
                            <td>{{ path(instance.source ~ '_' ~ instance.route ~ '_detail', {'id':object.getId()}) }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.url.front.alias')|trans }}</strong>
                            </td>
                            <td>{{ path(instance.source ~ '_' ~ instance.route ~ '_detail', {'id':object.getId()}) }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ (instance.translation ~ '.admin.detail.url.front.lite')|trans }}</strong>
                            </td>
                            <td>{{ path(instance.source ~ '_' ~ instance.route ~ '_lite', {'id':object.getId()}) }}</td>
                        </tr>
                    {% endblock %}
                </tbody>
            </table>
        </div>
    {% endblock %}

    {# Historics #}
    {% block content_historic %}
        {% if historics is defined and historics != null %}
            <div class="row historic">
                <h2 id="anchor-admin-historic">{{ ('fhm.historic.title')|trans({},'FhmFhmBundle') }}</h2>
                <div >
                    <table class="fullwidth">
                        <thead>
                            <tr>
                                {% block content_historic_header %}
                                    <th>{{ ('fhm.historic.table.header.date')|trans({},'FhmFhmBundle') }}</th>
                                    <th>{{ ('fhm.historic.table.header.user')|trans({},'FhmFhmBundle') }}</th>
                                    <th>{{ ('fhm.historic.table.header.difference')|trans({},'FhmFhmBundle') }}</th>
                                {% endblock %}
                                {% block content_historic_header_action %}
                                    <th>{{ ('fhm.historic.table.header.action')|trans({},'FhmFhmBundle') }}</th>
                                {% endblock %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for historic in historics %}
                                <tr>
                                    {% block content_historic_body %}
                                        <td><i class="fa fa-archive" aria-hidden="true"></i> {{ historic.getDateCreate() | localizeddate('full', 'medium', app.request.locale) }}</td>
                                        <td>{{ historic.getUserCreate() ? historic.getUserCreate().getUsername() : '' }}</td>
                                        <td>{{ historic.historicDifference() }}</td>
                                    {% endblock %}
                                    {#{% if historic.getDelete() %}#}
                                        {% block content_historic_action %}
                                            <td>
                                                <div class="actions">
                                                    <ul id="action{{ historic.getId() }}"  data-dropdown-content>
                                                        {% block content_historic_action_links %}
                                                            <li>
                                                                <a  href="{{ path(instance.source ~ '_api_' ~ instance.route ~ '_historic_restore', {'id': historic.getId()}) }}"  data-id="{{ historic.getId() }}"  title="{{ ('fhm.historic.table.action.restore')|trans({},'FhmFhmBundle') }}"><i class="fa fa-share" aria-hidden="true"></i> {{ ('fhm.historic.table.action.restore')|trans({},'FhmFhmBundle') }}
                                                                </a>
                                                            </li>
                                                        {% endblock %}
                                                        {% block content_data_action_alert %}
                                                            <li class="alert">
                                                                <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_delete', {'id': historic.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.delete')|trans }}" onclick="return confirm('{{ ('fhm.historic.table.confirm.delete')|trans({},'FhmFhmBundle') }}')"><i class="fa fa-fw fa-trash-o"></i> {{ ('fhm.historic.table.action.delete')|trans({},'FhmFhmBundle') }}
                                                                </a>
                                                            </li>
                                                        {% endblock %}
                                                    </ul>
                                                </div>
                                            </td>
                                        {% endblock %}
                                    {#{% endif %}#}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% block content_historic_pagination %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

    {# Admin #}
    {% block content_admin %}
        {% if instance.user is defined and instance.user.admin %}
            <div class="row">
                <h2 id="anchor-admin-tools">{{ (instance.translation ~ '.admin.detail.admin.title')|trans }}</h2>
            </div>
            {% block content_admin_data %}

            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}