{% trans_default_domain instance.domain %}

{% if demo is defined %}
    <div class="card card-embed card-embed-accordion">
        <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
                <a href="#accordion1" class="title accordion-title">Vivamus</a>
                <div id="accordion1" class="content accordion-content active">
                    <div class="description">Vivamus in erat ut urna cursus vestibulum</div>
                    <div class="product">
                        <ul class="product-forward small-block-grid-2 medium-block-grid-3 large-block-grid-4">
                            <li>
                                <div class="content" style="background:url('{{ asset('images/demo/card/card-item1.jpg') }}') center center no-repeat">
                                    <span class="name">Cursus</span> <span class="price">5€</span>
                                    <div class="ingredient-content">
                                        <span class="title">{{ 'card.ingredient.front.index.link'|trans }}</span>
                                        <span class="ingredient text-left">in, erat, ut, urna</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="content" style="background:url('{{ asset('images/demo/card/card-item2.jpg') }}') center center no-repeat">
                                    <span class="name">Augue</span> <span class="price">10€</span>
                                    <div class="ingredient-content">
                                        <span class="title">{{ 'card.ingredient.front.index.link'|trans }}</span>
                                        <span class="ingredient text-left">in, erat, ut, urna</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="content" style="background:url('{{ asset('images/demo/card/card-item3.jpg') }}') center center no-repeat">
                                    <span class="name">Nullam</span> <span class="price">15.50€</span>
                                    <div class="ingredient-content">
                                        <span class="title">{{ 'card.ingredient.front.index.link'|trans }}</span>
                                        <span class="ingredient text-left">in, erat, ut, urna</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="product-inline">
                            <li>
                                <span class="name left">Dapibus</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Nunc</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Tincidunt</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#accordion2" class="title accordion-title">Fringilla</a>
                <div id="accordion2" class="content accordion-content">
                    <div class="description">Vivamus in erat ut urna cursus vestibulum</div>
                    <div class="product">
                        <ul class="product-inline">
                            <li>
                                <span class="name left">Dapibus</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Nunc</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Tincidunt</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Sit</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Poda</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="accordion-navigation">
                <a href="#accordion3" class="title accordion-title">Amet</a>
                <div id="accordion3" class="content accordion-content">
                    <div class="description">Vivamus in erat ut urna cursus vestibulum</div>
                    <div class="product">
                        <ul class="product-inline">
                            <li>
                                <span class="name left">Dapibus</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Nunc</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Tincidunt</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Sit</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                            <li>
                                <span class="name left">Poda</span> <span class="price">9€</span>
                                <span class="ingredient text-left">in, erat, ut, urna</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% else %}
    <div class="card card-embed card-embed-accordion">
        <ul class="accordion" data-accordion>
            {% for category in categories %}
                {% include category.getMenu() ? "::FhmCard/Template/Embed/Accordion/menu.html.twig" : "::FhmCard/Template/Embed/Accordion/inline.html.twig" %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<script>
    $(document).ready(function ()
    {
        console.log('here');
        $(".product-forward .item").flip({
            trigger: 'hover'
        });
    });
</script>