{% trans_default_domain instance.domain %}

<li class="accordion-navigation">
    <a href="#accordion{{ category.getId() }}" class="title accordion-title">{{ category.getName() }}</a>
    <div id="accordion{{ category.getId() }}" class="content accordion-content {{ loop.index0 == 0 ? 'active' : '' }}">
        {% if category.getDescription() %}
            <div class="description">
                {{ category.getDescription() }}
            </div>
        {% endif %}
        {% if category.getProducts().count() > 0 %}
            {{ render(path('fhm_api_card_product_embed', {idCard:card.getId(), idCategory:category.getId(), template:'inline'})) }}
        {% endif %}
        {% if category.getSons().count() > 0 %}
            {{ render(path('fhm_api_card_category_embed', {idCard:card.getId(), idCategory:category.getId(), template:'index.inline'})) }}
        {% endif %}
    </div>
</li>