{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_gallery') }}" class="button small"><i class="fa fa-th"></i> {{ ('gallery.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_gallery_item') }}" class="button small"><i class="fa fa-photo"></i> {{ ('gallery.item.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_gallery_video') }}" class="button small"><i class="fa fa-video-camera"></i> {{ ('gallery.video.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_share_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_delete_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_header %}
    {{ parent() }}
    <th>{{ (instance.translation ~ '.admin.index.table.header.galleries')|trans }}</th>
{% endblock %}

 {% block content_data_body %}
     {{ parent() }}
     <td>{{ object.getGalleries()|length }}</td>
 {% endblock %}