{% trans_default_domain instance.domain %}
<div class="workflow">
    <div class="modal" id="top">
        <a href="#top" class="top"><i class="fa fa-chevron-up"></i></a>

        <div class="title">{{ document.getName() }}</div>
        <div class="user">{{ document.getUserUpdate() ? document.getUserUpdate().getUsername() ~ ' - ' : '' }}{{ document.getDateUpdate() | localizeddate('short', 'short', app.request.locale) }}</div>
        <div class="description">
            {{ document.getDescription() }}
            <div class="add text-right">
                <a href="#"
                   title="{{ ('workflow.action.buttons.expand')|trans }}"
                   data-id="{{ document.getId() }}"
                   data-url="{{ path('fhm_api_workflow_task_modal_expand',{tid:document.getId(), wid:workflow.getId()}) }}"
                   data-modal><i class="fa fa-expand"></i> {{ ('workflow.action.buttons.expand')|trans }}</a>
            </div>
        </div>
        {% if document.getAction().hasUserComment(app.user) %}
            <div class="separator"><span>{{ 'workflow.modal.comment'|trans }}</span></div>
            <form action="{{ path('fhm_api_workflow_task_add_comment',{tid:document.getId(), wid:workflow.getId()}) }}">
                {% for flashMessage in app.session.flashbag.get('workflow') %}
                    <div data-alert class="alert-box success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('workflow-error') %}
                    <div data-alert class="alert-box alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <label for="comment"></label> <textarea name="comment" id="comment" required="required"></textarea>
                <button type="submit" class="tiny align-center">{{ 'workflow.comment.front.create.form.submit.save'|trans }}</button>
            </form>
        {% endif %}
        <div class="separator"><span>{{ 'workflow.modal.comments'|trans }}</span></div>
        {% if document.getComments()|length > 0 %}
            {% render(path('fhm_api_workflow_comment_task',{id:document.getId()})) %}
        {% else %}
            <div class="nodata">{{ 'workflow.modal.nodata'|trans }}</div>
        {% endif %}
    </div>
</div>
<script>
    var modalOpen = function()
    {
        tinymce.init({
            selector:    '#comment',
            height:      200,
            language:    '{{ app.request.locale }}',
            plugins:     [
                'advlist textcolor'
            ],
            toolbar1:    'bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | forecolor backcolor | removeformat',
            menubar:     false,
            content_css: '/css/front.css',
            setup:       function (editor)
                         {
                             editor.on('change', function ()
                             {
                                 editor.save();
                             });
                         }
        });
    };
    var modalClose = function()
    {
        tinymce.remove('#comment');
    };
</script>