{% trans_default_domain instance.domain %}

<div class="task" data-id="{{ document.getId() }}">
    <div class="task-title">
        {{ workflow.getName() }}
        <span>{{ document.getName() }}</span>
        <div class="task-icons">
            <a href="#"
               title="{{ ('workflow.action.buttons.expand')|trans }}"
               data-id="{{ document.getId() }}"
               data-url="{{ path('fhm_api_workflow_modal',{id:workflow.getId()}) }}"
               data-modal><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="task-user">
        {{ document.getUserUpdate() ? document.getUserUpdate().getUsername() : document.getUserCreate().getUsername() }} - {{ document.getDateUpdate() | localizeddate('short', 'short', app.request.locale) }}
    </div>
    <div class="task-description">
        {{ document.getDescription() }}
    </div>
    {{ document|wfStepTaskAction(workflow, instance)|raw }}
</div>