{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/create.html.twig" %}

{% block content_data_fields_data %}
    <div class="large-6 medium-6 small-12 columns">
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.data')|trans }}</legend>
            <div class="row">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="row">
                {{ form_label(form.subtitle) }}
                {{ form_errors(form.subtitle) }}
                {{ form_widget(form.subtitle) }}
            </div>
            <div class="row">
                {{ form_label(form.resume) }}
                {{ form_errors(form.resume) }}
                {{ form_widget(form.resume) }}
            </div>
            <div class="row">
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </div>
        </fieldset>
    </div>
    <div class="large-6 medium-6 small-12 columns">
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.date')|trans }}</legend>
            <div class="row">
                {{ form_label(form.date_start) }}
                {{ form_errors(form.date_start) }}
                {{ form_widget(form.date_start) }}
            </div>
            <div class="row">
                {{ form_label(form.date_end) }}
                {{ form_errors(form.date_end) }}
                {{ form_widget(form.date_end) }}
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.media')|trans }}</legend>
            <div class="row">
                {{ form_label(form.image) }}
                {{ form_errors(form.image) }}
                {{ form_widget(form.image) }}
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.eventgroups')|trans }}</legend>
            <div class="row">
                {{ form_label(form.eventgroups) }}
                {{ form_errors(form.eventgroups) }}
                {{ form_widget(form.eventgroups) }}
            </div>
        </fieldset>
    </div>
{% endblock %}

{% block content_data_submit_list_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_event_group') }}" class="button small button-icon button-cubes">{{ ('event.group.admin.index.link')|trans }}</a>
    </li>
{% endblock %}

{% block body_javascripts_ready %}
    {{ parent() }}
    $('.datetimepicker').datetimepicker(
    {
        format: 'd/m/Y H:i',
        lang:   'fr',
        step:   30,
        onShow: function(ct, input)
        {
            if($(input).attr('id') == 'FhmCreate_date_start')
            {
                $('#FhmCreate_date_start').datetimepicker({formatDate: 'd/m/Y', minDate: false, maxDate: $('#FhmCreate_date_end').val() ? $('#FhmCreate_date_end').val().substring(0, 10) : false });
            }
            if($(input).attr('id') == 'FhmCreate_date_end')
            {
                $('#FhmCreate_date_end').datetimepicker({formatDate: 'd/m/Y', maxDate: false, minDate: $('#FhmCreate_date_start').val() ? $('#FhmCreate_date_start').val().substring(0, 10) : false });
            }
        }
    });
{% endblock %}