{% extends app.request.isxmlhttprequest ? "::ajax.html.twig" : "::layout.html.twig" %}
{% import "::Macros/breadcrumbs.html.twig" as macroBreadcrumbs %}

{% block css_main %}
    {{ asset('css/front.css') }}
{% endblock %}

{% block body_all %}
    {{ parent() }}
    <a href="#anchor-top" id="scroll-top"><i class="fa fa-arrow-up"></i></a>
{% endblock %}

{% block body_header %}
    <header id="header">
        {% block menu %}
            {{ render_hinclude(url('fhm_api_menu_detail', {'template':'front'})) }}
        {% endblock %}
    </header>
{% endblock %}

{% block body_content %}
    <div id="container">
        <section id="main-content">
            {% block tagline %}
                <section class="section-tagline">
                    <div class="parallax-image-tagline" data-parallax="scroll" data-image-src="{{ not site or site.getDemo() ? asset('images/default.jpg') : site.getBackgroundTop()|media }}"></div>
                    <div class="title">{% block tagline_title %}{% endblock %}</div>
                </section>
            {% endblock %}

            {% block breadcrumbs %}
                <section class="section-breadcrumbs">
                    {{ breadcrumbs is defined ? macroBreadcrumbs.print(breadcrumbs) : '' }}
                </section>
            {% endblock %}

            {% block flash %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div data-alert class="alert-box">
                        {{ flashMessage }}
                        <a href="#" class="close"><i class="fa fa-times"></i></a>
                    </div>
                {% endfor %}
            {% endblock %}
            <section class="gutter-margin-bottom gutter-margin-top">
                {% block content %}{% endblock %}
            </section>
        </section>
    </div>
{% endblock %}

{% block footer %}
    {% block footer_content %}
        <footer class="clearfix">
            <div class="hidden-for-large-up text-center">
                <img src="{{ site is defined and site and site.getLogo() and not site.getDemo() ? site.getLogo()|media('s', asset('images/logo.png')) : asset('images/logo.png') }}" alt=""/>
                <h2 class="icon">{{ site is defined and site and site.getTitle() and not site.getDemo() ? site.getTitle()|raw : 'project.home.default.title'|trans({},'ProjectDefaultBundle') }}</h2>
            </div>
            <div class="columns large-4">
                <h2>{{ 'menu.front.index.sitemap'|trans({},'FhmFhmMenuBundle') }}</h2>
                {% if site is defined and site and (site.getMenuFooter() or site.getDemo()) %}
                    {{ render(path('fhm_api_menu_detail',{template:'footer','id':site.getDemo() ? 'demo' : site.getMenuFooter().getId()})) }}
                {% endif %}
            </div>
            <div class="columns large-4">
                <div class="hidden-for-medium-down">
                    <img src="{{ site is defined and site and site.getLogo() and not site.getDemo() ? site.getLogo()|media('s', asset('images/logo.png')) : asset('images/logo.png') }}" alt=""/>
                    <h2 class="icon">{{ site is defined and site and site.getTitle() and not site.getDemo() ? site.getTitle()|raw : 'project.home.default.title'|trans({},'ProjectDefaultBundle') }}</h2>
                </div>
            </div>
            <div class="columns large-4">
                <h2>{{ 'newsletter.front.index.title'|trans({},'FhmNewsletterBundle') }}</h2>
                {{ render(path('fhm_api_newsletter_embed')) }}
                <div class="social-bar">
                    <ul>
                        {% if site is defined and site %}
                            {% if site.getSocialFacebook() or site.getDemo() %}
                                <li>
                                    <a href='{{ site.getDemo() ? '#' : site.getSocialFacebook() }}' class="facebook" title="Facebook" target="_blank"><i class='fa fa-facebook'></i></a>
                                </li>
                            {% endif %}
                            {% if site.getSocialTwitter() or site.getDemo() %}
                                <li>
                                    <a href='{{ site.getDemo() ? '#' : site.getSocialTwitter() }}' class="twitter" title="Twitter" target="_blank"><i class='fa fa-twitter'></i></a>
                                </li>
                            {% endif %}
                            {% if site.getSocialGoogle() or site.getDemo() %}
                                <li>
                                    <a href='{{ site.getDemo() ? '#' : site.getSocialGoogle() }}' class="google" title="Google" target="_blank"><i class='fa fa-google'></i></a>
                                </li>
                            {% endif %}
                            {% if site.getSocialInstagram() or site.getDemo() %}
                                <li>
                                    <a href='{{ site.getDemo() ? '#' : site.getSocialInstagram() }}' class="instagram" title="Instagram" target="_blank"><i class='fa fa-instagram'></i></a>
                                </li>
                            {% endif %}
                            {% if site.getSocialYoutube() or site.getDemo() %}
                                <li>
                                    <a href='{{ site.getDemo() ? '#' : site.getSocialYoutube() }}' class="youtube" title="Youtube" target="_blank"><i class='fa fa-youtube'></i></a>
                                </li>
                            {% endif %}
                            {% if site.getSocialFlux() or site.getDemo() %}
                                <li>
                                    <a href='{{ site.getDemo() ? '#' : site.getSocialFlux() }}' class="flux" title="Flux RSS" target="_blank"><i class='fa fa-rss'></i></a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock %}
    {{ parent() }}
{% endblock %}