{% extends app.request.isxmlhttprequest ? "::ajax.html.twig" : "::layout.html.twig" %}
{% import "::Macros/breadcrumbs.html.twig" as macroBreadcrumbs %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stalemate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <meta name="format-detection" content="telephone=no">
{% endblock %}

{% block css_main %}
    {{ asset('css/front.css') }}
{% endblock %}

{% block body_all %}
    {{ parent() }}
    <a href="#" id="anchor-top"><i class="fa fa-arrow-up"></i></a>
{% endblock %}


{% block body_header %}
    <div id="header">
        {# Menu #}
        {% block menu %}
            {{ render_hinclude(url('fhm_api_menu_detail', {'template':'front'})) }}
        {% endblock %}

        {# Tagline #}
        {% block tagline %}
        {% endblock %}

        {# Breadcrumbs #}
        {% block breadcrumbs %}
            <div class="row">
                {{ breadcrumbs is defined ? macroBreadcrumbs.print(breadcrumbs) : '' }}
            </div>
        {% endblock %}

        {# Flash #}
        {% block flash %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div data-alert class="alert-box">
                    {{ flashMessage }}
                    <a href="#" class="close"><i class="fa fa-times"></i></a>
                </div>
            {% endfor %}
        {% endblock %}

        {# Header #}
        {% block header %}
        {% endblock %}
    </div>
{% endblock %}

{% block body_content %}
    <div id="container">
        {% block left %}{% endblock %}
        {% block content %}{% endblock %}
        {% block right %}{% endblock %}
    </div>
{% endblock %}
