{% extends app.request.isxmlhttprequest ? "::ajax.html.twig" : "::layout.html.twig" %}
{% import "::Macros/breadcrumbs.html.twig" as macroBreadcrumbs %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stalemate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
    {#<link rel="stylesheet" type="text/css" href="/css/front.css"/>#}
{% endblock %}
{% block css_main %}
    {{ asset('css/front.css') }}
{% endblock %}

{% block body_header %}
    {#<div id="header">#}
        {# Menu #}
        {% block menu %}
            {#{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
                {#{{ render_hinclude(url('fhm_api_menu_detail', {'template':'front'})) }}#}
            {#{% endif %}#}
            <div class="device-menu-wrap">
                <div class="device-menu">
                    <a href="#" class="close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Accueil</a>
                            </li>
                            <li>
                                <a href="#">Produits et services</a>
                            </li>
                            <li class="has-subchild">
                                <a href="#">Offres commerciales</a>
                                <i class="sidr-dropdown-toggler"></i>
                                <ul class="menu-depth-1 sub-menu">
                                    <li class="has-submenu">
                                        <a href="#">Layout variants</a>
                                        <i class="sidr-dropdown-toggler"></i>
                                        {#<ul class="menu-depth-2 nest-menu-depth sub-menu">#}
                                            {#<li>#}
                                                {#<a href="#">Layout variants</a>#}
                                            {#</li>#}
                                            {#<li class="has-submenu">#}
                                                {#<a href="#">Layout variants</a>#}
                                                {#<ul class="menu-depth-3 nest-menu-depth sub-menu">#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#">Layout variants</a>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#">Layout variants</a>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#">Layout variants</a>#}
                                            {#</li>#}
                                        {#</ul>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="#">Layout variants</a>#}
                                    {#</li>#}
                                    {#<li class="has-submenu">#}
                                        {#<a href="#">Layout variants</a>#}
                                        {#<ul class="menu-depth-2 nest-menu-depth sub-menu">#}
                                            {#<li>#}
                                                {#<a href="#">Layout variants</a>#}
                                            {#</li>#}
                                            {#<li class="has-submenu">#}
                                                {#<a href="#">Layout variants</a>#}
                                                {#<ul class="menu-depth-3 nest-menu-depth sub-menu">#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a href="#">Layout variants</a>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#">Layout variants</a>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#">Layout variants</a>#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<a href="#">Layout variants</a>#}
                                            {#</li>#}
                                        {#</ul>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="#">Layout variants</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="#">Layout variants</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            </li>
                            {#<li>#}
                            {#<a href="#">Gallery</a>#}
                            {#</li>#}
                            <li>
                                <a href="#">Horaires et plan d'accès</a>
                            </li>
                            <li>
                                <a href="#">Témoignages</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        {% endblock %}

        {# Tagline #}
        {% block tagline %}
        {% endblock %}

        {# Breadcrumbs #}
        {% block breadcrumbs %}
            <div class="row">
                {{ breadcrumbs is defined ? macroBreadcrumbs.print(breadcrumbs) : '' }}
            </div>
        {% endblock %}

        {# Flash #}
        {% block flash %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div data-alert class="alert-box">
                    {{ flashMessage }}
                    <a href="#" class="close"><i class="fa fa-times"></i></a>
                </div>
            {% endfor %}
        {% endblock %}

        {# Header #}
        {% block header %}
        {% endblock %}
    {#</div>#}
{% endblock %}

{% block body_content %}
<div id="container">
    <header id="header" >
        <div class="logo-device">
            <a href="#"><img src="/images/logo1.png" alt=""/></a>
        </div>
        <div class="menu-icon-wrap">
            <a href="#" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <nav class="nav-left">
            <ul>
                <li>
                    <a href="#">Accueil</a>
                </li>
                <li>
                    <a href="#">Produits et services</a>
                </li>
                <li>
                    <a href="#">Offres commerciales</a>
                    {#<ul class="menu-depth-1 sub-menu">#}
                        {#<li class="has-submenu">#}
                            {#<a href="#">Layout variants</a>#}
                            {#<ul class="menu-depth-2 nest-menu-depth sub-menu">#}
                                {#<li>#}
                                    {#<a href="#">Layout variants</a>#}
                                {#</li>#}
                                {#<li class="has-submenu">#}
                                    {#<a href="#">Layout variants</a>#}
                                    {#<ul class="menu-depth-3 nest-menu-depth sub-menu">#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Layout variants</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Layout variants</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Layout variants</a>#}
                                {#</li>#}
                            {#</ul>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">Layout variants</a>#}
                        {#</li>#}
                        {#<li class="has-submenu">#}
                            {#<a href="#">Layout variants</a>#}
                            {#<ul class="menu-depth-2 nest-menu-depth sub-menu">#}
                                {#<li>#}
                                    {#<a href="#">Layout variants</a>#}
                                {#</li>#}
                                {#<li class="has-submenu">#}
                                    {#<a href="#">Layout variants</a>#}
                                    {#<ul class="menu-depth-3 nest-menu-depth sub-menu">#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#">Layout variants</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Layout variants</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Layout variants</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">Layout variants</a>#}
                                {#</li>#}
                            {#</ul>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">Layout variants</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">Layout variants</a>#}
                        {#</li>#}
                    {#</ul>#}
                </li>
            </ul>
        </nav>
        <div class="logo-wrap">
            <a href="#" class="logo"><img src="/images/logo1.png" alt=""/></a>
        </div>
        <nav class="nav-right">
            <ul>
                {#<li>#}
                {#<a href="#">Gallery</a>#}
                {#</li>#}
                <li>
                    <a href="#">Horaires et plan d'accès</a>
                </li>
                <li>
                    <a href="#">Témoignages</a>
                </li>
            </ul>
        </nav>
    </header>
        {% block left %}{% endblock %}
        {% block content %}

        {% endblock %}
        {% block right %}{% endblock %}
    </div>
{% endblock %}
