{% trans_default_domain instance.domain %}

<div class="notification board">
    <h2><i class="fa fa-bell"></i> {{ 'notification.modal.title.new'|trans }}</h2>
    <div class="action">
        <a href="#" data-url="{{ path('fhm_api_notification_modal_all') }}" data-modal>
            <i class="fa fa-history"></i>
            {{ 'notification.modal.all'|trans }}
        </a>
    </div>
    {% if objects %}
        {% for object in objects %}
            <div class="item">
                {{ render(path('fhm_api_notification_detail', {id:object.getId()})) }}
            </div>
        {% endfor %}
    {% else %}
        <div class="nodata">{{ 'notification.modal.nodata'|trans }}</div>
    {% endif %}
</div>