{% trans_default_domain instance.domain %}

<div id="content_data" class="row partner short">
    {% if pagination %}
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
            {% for object in pagination %}
                <li>
                    <a class="item hvr-grow" href="{{ path('fhm_partner_lite', {id: object.getAlias()}) }}" style="background:url('{{ object.getImage()|media('m', asset('images/default-partner.jpg')) }}') center center no-repeat" title="{{ object.getName() }}"></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="nodata">
            {{ (instance.translation ~ '.front.index.nodata')|trans }}
        </div>
    {% endif %}
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
        <div class="counter">{{ ('fhm.pagination.counter')|trans({}, 'FhmFhmBundle') }} :
            <span>{{ pagination.getTotalItemCount }}</span></div>
    </div>
</div>