{% trans_default_domain instance.domain %}

<li>
    <div class="thumb" style="background:url('{{ product.getImage()|media('s', 'images/default-card.jpg') }}') center center no-repeat"></div>
    <div class="text">
        <span class="name left">{{ product.getName() }}</span>
        <span class="price">{{ product.getPrice() }}<span>{{ product.getCurrency() }}</span></span>
        {% if product.getIngredients().count() > 0 %}
            {{ render(path('fhm_api_card_ingredient_embed', {idCard:card.getId(), idProduct:product.getId(), folder:folder, template:'inline'})) }}
        {% endif %}
    </div>
</li>