{# Afficher #}
{% macro print(datas) %}

    {% import _self as this %}

    {% if datas|length > 0 %}
        <ul class="breadcrumbs">
            {% for data in datas %}
                {{ this.add(data) }}
            {% endfor %}
        </ul>
    {% endif %}

{% endmacro %}

{# Ajouter un élément #}
{# @var data    array #}
{# @key class   string  ['']    ajouter une classe personnalisée #}
{# @key active  boolean [true]  indique si l'élément est actif #}
{# @key current boolean [false] indique si l'élément est la page en cours #}
{# @key link    string  ['']    lien #}
{# @key text    string  ['']    texte à afficher #}
{% macro add(data) %}

    {% set link = true %}

    {# Class #}
    {% if data['class'] is defined %}
        {% set class = data['class'] %}
    {% else %}
        {% set class = '' %}
    {% endif %}

    {# Active #}
    {% if data['active'] is defined and data['active'] == false %}
        {% set class = class ~ ' unavailable' %}
        {% set link  = false %}
    {% endif %}

    {# Current #}
    {% if data['current'] is defined and data['current'] == true %}
        {% set class = class ~ ' current' %}
        {% set link  = false %}
    {% endif %}

    {# HTML #}
    {% if link %}
        <li class="{{ class }}"><a href="{{ data['link'] }}">{{ data['text'] }}</a></li>
    {% else %}
        <li class="{{ class }}">{{ data['text'] }}</li>
    {% endif %}

{% endmacro %}