{#
     document  : document en cours
     sons      : enfants du document en cours
     modules   : modules disponibles
     basetrans : base des traductions
     instance  : données d'instance de la page courante
#}
{% macro admin(document, sons, modules, basetrans, instance) %}

    {% trans_default_domain instance.domain %}
    {% import _self as this %}

    <fieldset>
        <legend>{{ (basetrans ~ '.title')|trans }}</legend>
        <div class="dd-sort" data-id="{{ document.getId() }}" data-url="{{ path('fhm_admin_page_sort') }}">
            <div class="dd-sort-master">
                <a href="#" data-reveal-id="addData" title="{{ (basetrans ~ '.add.title')|trans }}">
                    <div class="icon add"><i class="fa fa-plus"></i></div>
                </a>
                {#
                <a href="#" data-reveal-id="viewData" title="{{ (instance.translation ~ '.admin.index.table.action.view')|trans }}">
                    <div class="icon view"><i class="fa fa-eye"></i></div>
                </a>
                #}
            </div>
            {% if sons|length > 0 %}
                <ol class="dd-sort-list">
                    {% for son in sons %}
                        {{ this.add(document,son.object,son.option,instance, basetrans) }}
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </fieldset>

    <div id="addData" class="reveal-modal" data-reveal>
        <h2>{{ (basetrans ~ '.add.title')|trans }}</h2>

        <form action="{{ path('fhm_admin_page_add') }}" method="POST">
            {#<div class="row">#}
                {#<div class="large-12 columns">#}
                    {#<label for="FhmAdd_name" class="required">{{ (basetrans ~ '.add.form.name')|trans }}</label>#}
                    {#<input type="text" id="FhmAdd_name" name="FhmAdd[name]" required="required">#}
                {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="large-12 columns">
                    <label>{{ (basetrans ~ '.add.form.module')|trans }}</label>
                </div>
                {% set count = 1 %}
                {% set row = 1 %}
                {% for module in modules %}
                {% if row == 5 %}
            </div>
            <div class="row">
                {% set row = 1 %}
                {% endif %}
                <div class="large-3 medium-3 small-6 columns {{ modules|length == count ? 'end' : '' }}">
                    <div class="dd-sort-module module module-{{ module }}" data-module="{{ module }}" data-url="{{ path('fhm_admin_page_module') }}" title="{{ (basetrans ~ '.add.form.modules.' ~ module)|trans }}"></div>
                    {{ (basetrans ~ '.add.form.modules.' ~ module)|trans }}
                </div>
                {% set count = count + 1 %}
                {% set row = row + 1 %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="large-12 columns" id="dd-sort-data"></div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="hidden" id="FhmAdd_parent" name="FhmAdd[parent]" value="{{ document.getId() }}">
                    <button type="submit" id="FhmAdd_submit" name="FhmAdd[submit]">{{ (basetrans ~ '.add.form.submit')|trans }}</button>
                </div>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <div id="viewData" class="reveal-modal" data-reveal>
        <h2>{{ (instance.translation ~ '.admin.view.title')|trans }}</h2>
    </div>

{% endmacro %}

{# Ajouter un élément #}
{# @var document object #}
{# @var instance object #}
{% macro add(parent,document,option,instance, basetrans) %}

    {% trans_default_domain instance.domain %}
    {% import _self as this %}

    {% if not document.getDelete() or instance.user.super %}
        <li class="dd-sort-item" data-id="{{document.getId() }}">
            <div class="dd-sort-handle"><i class="fa fa-arrows"></i></div>
            <div class="dd-sort-content {{ option.active ? "" : "deactive" }} {{ option.delete ? "delete" : "" }}">
                <a href="{{ path('fhm_admin_' ~ option.type ~ '_detail', {'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.detail')|trans }}">
                    <div class="bloc-icon module module-{{option.type }}"></div>
                </a>

                <div class="bloc-page">
                    <p>
                        {{ (basetrans ~ '.name')|trans }} :
                        <strong>{{ document.getName() }}</strong><br>
                        {{ (basetrans ~ '.origin')|trans }} :
                        <strong>{{ option.type }}</strong><br>
                        {{ (basetrans ~ '.create')|trans }} :
                        <strong>{{  option.create.date | localizeddate('full', 'short', app.request.locale) }}</strong><br>
                        {{ (basetrans ~ '.update')|trans }} :
                        <strong>{{  option.update.date | localizeddate('full', 'short', app.request.locale) }}</strong><br>
                        {% if option.delete %}
                            <span class="status alert radius label">{{ ('fhm.status.delete')|trans({}, 'FhmFhmBundle') }}</span>
                        {% elseif not option.active %}
                            <span class="status warning radius label">{{ ('fhm.status.disable')|trans({}, 'FhmFhmBundle') }}</span>
                        {% else %}
                            <span class="status success radius label">{{ ('fhm.status.enable')|trans({}, 'FhmFhmBundle') }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="bloc-actions">{{ this.actions(document, parent.getId(), option, instance) }}</div>
            </div>
        </li>
    {% endif %}

{% endmacro %}

{# Actions #}
{# @var document object #}
{# @var instance object #}
{% macro actions(document, parent, option, instance) %}

    {% trans_default_domain instance.domain %}

    <div class="dd-sort-actions">
        {#<a href="{{ path('fhm_admin_' ~ instance.route ~ '_update', {'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.update')|trans }}"><i class="fa fa-pencil"></i></a>#}
        {% if option.delete%}
            <a href="{{ path('fhm_admin_' ~ instance.route ~ '_undeletechild', {'parent':parent,'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.undelete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.undelete')|trans }}')"><i class="fa fa-undo"></i></a>
            <a href="{{ path('fhm_admin_' ~ instance.route ~ '_deletechild', {'parent':parent,'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.delete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.delete')|trans }}')"><i class="fa fa-trash"></i></a>
        {% else %}
            {% if option.active %}
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_activatechild', {'parent':parent,'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.deactivate')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.deactivate')|trans }}')"><i class="fa fa-eye-slash"></i></a>
            {% else %}
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_activatechild', {'parent':parent,'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.activate')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.activate')|trans }}')"><i class="fa fa-eye"></i></a>
            {% endif %}
            <a href="{{ path('fhm_admin_' ~ instance.route ~ '_deletechild', {'parent':parent,'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.delete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.delete')|trans }}')"><i class="fa fa-trash-o"></i></a>
        {% endif %}
    </div>

{% endmacro %}

{# Rendu d'un élément #}
{# @var document object #}
{# @var instance object #}
{% macro html(document, instance) %}

    {% trans_default_domain instance.domain %}
    {% import _self as this %}
    {% import ':Macros:page' ~ document.module.type ~ '.html.twig' as module %}

    {% if document.getActive() %}
        {{ module.html(document.moduleRef, instance) }}
    {% endif %}
{% endmacro %}