{#
     tree     : object en cours
     treemap  : branches du object en cours
     fieldset : texte du fieldset
     instance : données d'instance de la page courante
#}
{% macro admin(tree, treemap, object, modules, basetrans, instance) %}

    {% trans_default_domain instance.domain %}
    {% import _self as this %}
    <div class="dd-tree">
        {% if treemap|length > 1 %}
            <div class="dd-tree-map">
                <ul class="breadcrumbs">
                    {% for map in treemap %}
                        {% if map.getId() == object.getId() %}
                            <li class="current">{{ map.getName() }}</li>
                        {% else %}
                            <li>
                                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_detail', {id:map.getId()}) }}">{{ map.getName() }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="dd-tree-master" data-id="{{ object.getId() }}" data-url="{{ path('fhm_admin_' ~ instance.route ~ '_sort') }}">
            <div class="dd-tree-handle"><i class="fa fa-chevron-down"></i></div>
            <div class="dd-tree-content {{ object.getActive() ? "" : "deactive" }} {{ object.getDelete() ? "delete" : "" }}">
                <div class="pull-left">{{ object.getName() }}</div>
                <div class="pull-right">{{ this.actions(object, instance) }}</div>
            </div>
        </div>

        {% if object.getChilds()|length > 0 %}
            {{ this.branchs(object.getChilds(), instance) }}
        {% endif %}
    </div>

    <div id="addDataForm" class="reveal-modal" data-reveal>
        <h2>{{ (instance.translation ~ '.admin.add.title')|trans }}</h2>

        <form action="{{ path('fhm_admin_' ~ instance.route ~ '_add') }}" method="POST">
            <div class="large-12 columns">
                <div class="row">
                    {{ (basetrans ~ '.add.form.name')|trans }}
                    <input type="text" id="FhmAdd_name" name="FhmAdd[name]" value="" required="true">
                </div>
                <div class="row">
                    {{ (basetrans ~ '.add.form.description')|trans }}
                    <textarea id="FhmAdd_description" name="FhmAdd[description]"></textarea>
                </div>
                <div class="row">
                    {{ (basetrans ~ '.add.form.icon')|trans }}
                    <input type="text" id="FhmAdd_icon" name="FhmAdd[icon]" value="">
                </div>
                <div class="row">
                    {{ (basetrans ~ '.add.form.route')|trans }}
                    <a href="#" data-reveal-id="addData" onclick="$('#FhmAdd_parent').val('{{ object.getId() }}')" title="{{ (instance.translation ~ '.admin.index.table.action.add')|trans }}"><i class="fa fa-plus"></i></a>
                    <input type="text" id="FhmAdd_route" name="FhmAdd[route]">
                </div>
                <div class="row">
                    <input type="hidden" id="FhmAdd_module" name="FhmAdd[module]" value="">
                    <input type="hidden" id="FhmAdd_data" name="FhmAdd[data]" value="">
                </div>
            </div>
            <div class="large-12 columns">
                <input type="hidden" id="FhmAdd_parent" name="FhmAdd[parent]" value="">
                <input type="hidden" id="FhmAdd_id" name="FhmAdd[id]" value="{{ object.getId() }}">
                <button type="submit" id="FhmAdd_submit" name="FhmAdd[submit]">{{ (instance.translation ~ '.admin.add.submit')|trans }}</button>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>


    <div id="updateDataForm" class="reveal-modal" data-reveal>
        <h2>{{ (instance.translation ~ '.admin.edit.title')|trans }}</h2>

        <form action="{{ path('fhm_admin_' ~ instance.route ~ '_edit') }}" method="POST">
            <div class="large-12 columns">
                <div class="row">
                    {{ (basetrans ~ '.edit.form.name')|trans }}
                    <input type="text" id="FhmUpdate_name" name="FhmUpdate[name]" value="" required="true">
                </div>
                <div class="row">
                    {{ (basetrans ~ '.edit.form.description')|trans }}
                    <textarea id="FhmUpdate_description" name="FhmUpdate[description]"></textarea>
                </div>
                <div class="row">
                    {{ (basetrans ~ '.edit.form.icon')|trans }}
                    <input type="text" id="FhmUpdate_icon" name="FhmUpdate[icon]" value="">
                </div>
                <div class="row">
                    {{ (basetrans ~ '.edit.form.route')|trans }}
                    <a href="#" data-reveal-id="addData" onclick="$('#FhmUpdate_parent').val('{{ object.getId() }}')" title="{{ (instance.translation ~ '.admin.index.table.action.add')|trans }}"><i class="fa fa-plus"></i></a>
                    <input type="text" id="FhmUpdate_route" name="FhmUpdate[route]" value="">
                </div>
                <div class="row">
                    <input type="hidden" id="FhmUpdate_module" name="FhmUpdate[module]" value="">
                    <input type="hidden" id="FhmUpdate_data" name="FhmUpdate[data]" value="">
                </div>
            </div>
            <div class="large-12 columns">
                <input type="hidden" id="FhmUpdate_parent" name="FhmUpdate[parent]" value="">
                <input type="hidden" id="FhmUpdate_id" name="FhmUpdate[id]" value="">
                <button type="submit" id="FhmUpdate_submit" name="FhmUpdate[submit]">{{ (instance.translation ~ '.admin.edit.submit')|trans }}</button>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    {{ this.moduleAjax(object, modules,'FhmAdd_route', basetrans, instance) }}
{% endmacro %}

{#
     tree     : object en cours
     treemap  : branches du object en cours
     fieldset : texte du fieldset
     instance : données d'instance de la page courante
#}
{% macro module(object, modules, basetrans, instance) %}
    {% trans_default_domain instance.domain %}
    {% import _self as this %}
    <div id="addData" class="reveal-modal" data-reveal>
        <h2>{{ (instance.translation ~ '.admin.add.title')|trans }}</h2>

        <form action="{{ path('fhm_admin_' ~ instance.route ~ '_addmodule') }}" data-abide method="POST">
            <div class="large-12 columns">
                <div class="row">
                    {% set count = 1 %}
                    {% set row = 1 %}
                    {% for module in modules %}
                    {% if row == 5 %}
                </div>
                <div class="row">
                    {% set row = 1 %}
                    {% endif %}
                    <div class="large-3 medium-3 small-6 columns {{ modules|length == count ? 'end' : '' }}">
                        {{ (basetrans ~ '.add.form.modules.' ~ module)|trans }}
                        <div class="dd-sort-module module module-{{ module }}" data-module="{{ module }}" data-url="{{ path('fhm_admin_menu_module') }}" title="{{ (basetrans ~ '.add.form.modules.' ~ module)|trans }}"></div>
                    </div>
                    {% set count = count + 1 %}
                    {% set row = row + 1 %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="large-12 columns" id="dd-sort-data"></div>
                </div>
            </div>
            <div class="large-12 columns">
                {% if object != null %}
                    <input type="hidden" id="FhmAdd_parent" name="FhmAdd[parent]" value="{{ object.getParent() }}">
                    <input type="hidden" id="FhmAdd_id" name="FhmAdd[id]" value="{{ object.getId() }}">
                {% else %}
                    <input type="hidden" id="FhmAdd_parent" name="FhmAdd[parent]" value="">
                    <input type="hidden" id="FhmAdd_id" name="FhmAdd[id]" value="">
                {% endif %}
                <button type="submit" id="FhmAdd_submit" name="FhmAdd[submit]">{{ (instance.translation ~ '.admin.add.submit')|trans }}</button>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

{% endmacro %}

{#
     tree     : object en cours
     treemap  : branches du object en cours
     fieldset : texte du fieldset
     instance : données d'instance de la page courante
#}
{% macro moduleAjax(object, modules, elem, basetrans, instance) %}
    {% trans_default_domain instance.domain %}
    {% import _self as this %}
    <div id="addData" box={{ elem }} class="reveal-modal" data-reveal>
        <h2>{{ (instance.translation ~ '.admin.add.module')|trans }}</h2>

        <form action="{{ path('fhm_api_' ~ instance.route ~ '_addmodule') }}" data-abide method="POST" id="FhmAddLink_form">
            <div class="large-12 columns">
                <div class="row">
                    {% set count = 1 %}
                    {% set row = 1 %}
                    {% for module in modules %}
                    {% if row == 5 %}
                </div>
                <div class="row">
                    {% set row = 1 %}
                    {% endif %}
                    <div class="large-3 medium-3 small-6 columns {{ modules|length == count ? 'end' : '' }}">
                        {{ (basetrans ~ '.add.form.modules.' ~ module)|trans }}
                        <div class="dd-sort-module module module-{{ module }}" data-module="{{ module }}" data-url="{{ path('fhm_admin_menu_module') }}" title="{{ (basetrans ~ '.add.form.modules.' ~ module)|trans }}"></div>
                    </div>
                    {% set count = count + 1 %}
                    {% set row = row + 1 %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="large-12 columns" id="dd-sort-data"></div>
                </div>
            </div>
            <div class="large-12 columns">
                {% if object != null %}
                    <input type="hidden" id="FhmAdd_parent" name="FhmAdd[parent]" value="{{ object.getParent() }}">
                    <input type="hidden" id="FhmAdd_id" name="FhmAdd[id]" value="{{ object.getId() }}">
                {% else %}
                    <input type="hidden" id="FhmAdd_parent" name="FhmAdd[parent]" value="">
                    <input type="hidden" id="FhmAdd_id" name="FhmAdd[id]" value="">
                {% endif %}
                <button type="submit" id="FhmAdd_submit" name="FhmAdd[submit]">{{ (instance.translation ~ '.admin.add.submit')|trans }}</button>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

{% endmacro %}

{# Ajouter des branches #}
{# @var tree     array #}
{# @var instance object #}
{% macro branchs(tree, instance) %}

    {% trans_default_domain instance.domain %}
    {% import _self as this %}

    {% if tree|length > 0 %}

        <ol class="dd-tree-list">
            {% for branch in tree %}

                <li class="dd-tree-item" data-id="{{ branch.getId() }}">
                    <div class="dd-tree-handle"><i class="fa fa-arrows"></i></div>
                    <div class="dd-tree-content {{ branch.getActive() ? "" : "deactive" }} {{ branch.getDelete() ? "delete" : "" }}">
                        <div class="pull-left">{{ branch.getName() }}</div>
                        <div class="pull-right">{{ this.actions(branch, instance) }}</div>
                    </div>
                    {% if branch.getChilds()|length > 0 %}
                        {{ this.branchs(branch.getChilds(), instance) }}
                    {% endif %}
                </li>

            {% endfor %}
        </ol>

    {% endif %}

{% endmacro %}

{# Actions #}
{# @var object object #}
{# @var instance object #}
{% macro actions(object, instance) %}

    {% trans_default_domain instance.domain %}

    <div class="dd-tree-status">
        {% if object.getDelete() %}
            <span class="status alert radius label">{{ ('fhm.status.delete')|trans({}, 'FhmFhmBundle') }}</span>
        {% elseif not object.getActive() %}
            <span class="status warning radius label">{{ ('fhm.status.disable')|trans({}, 'FhmFhmBundle') }}</span>
        {% else %}
            <span class="status success radius label">{{ ('fhm.status.enable')|trans({}, 'FhmFhmBundle') }}</span>
        {% endif %}
        {% if object.getShare() and not object.hasGrouping(instance.grouping.used) %}
            <span class="status regular radius label">{{ ('fhm.status.share')|trans({}, 'FhmFhmBundle') }}</span>
        {% endif %}
    </div>

    <div class="dd-tree-page">
        {% if object.getRoute() %}
            <i class="fa fa-link" title="{{ object.getRoute() }}"></i>
        {% else %}
            <i class="fa fa-file-o nodata"></i>
        {% endif %}
    </div>

    <div class="dd-tree-actions">
        <a href="#" data-reveal-id="addDataForm" onclick="$('#FhmAdd_parent').val('{{ object.getId() }}')" title="{{ (instance.translation ~ '.admin.index.table.action.add')|trans }}"><i class="fa fa-plus"></i></a>
        <a href="{{ path('fhm_admin_' ~ instance.route ~ '_detail', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.detail')|trans }}"><i class="fa fa-gear"></i></a>
        <a href="#" data-reveal-id="updateDataForm" onclick='$("#FhmUpdate_id").val("{{ object.getId() }}"),$("#FhmUpdate_parent").val("{{ object.getId() }}"),$("#FhmUpdate_name").val("{{ object.getName() }}"),$("#FhmUpdate_description").val("{{ object.getDescription() }}"),$("#FhmUpdate_route").val("{{ object.getRoute() }}"),$("#FhmUpdate_icon").val("{{ object.getIcon() }}")' title="{{ (instance.translation ~ '.admin.index.table.action.update')|trans }}"><i class="fa fa-pencil"></i></a>

        {% if object.getDelete() %}
            {% if instance.user.admin %}
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_undelete', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.undelete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.undelete')|trans }}')"><i class="fa fa-undo"></i></a>
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_delete', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.delete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.delete')|trans }}')"><i class="fa fa-trash"></i></a>
            {% endif %}
        {% else %}
            {% if object.getActive() %}
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_deactivate', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.deactivate')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.deactivate')|trans }}')"><i class="fa fa-eye-slash"></i></a>
            {% else %}
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_activate', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.activate')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.activate')|trans }}')"><i class="fa fa-eye"></i></a>
            {% endif %}
            <a href="{{ path('fhm_admin_' ~ instance.route ~ '_delete', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.delete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.delete')|trans }}')"><i class="fa fa-trash-o"></i></a>
        {% endif %}
    </div>
{% endmacro %}

{# HTML #}
{# @var tree      object #}
{# @var instance  object #}
{% macro html(tree, instance) %}

    {% trans_default_domain 'ProjectDefaultBundle' %}
    {% import _self as this %}

    <nav class="top-bar tree" data-topbar>
        <ul class="title-area">
            <li class="name">
                <a href="{{ path('project_home') }}"><i class="fa fa-home"></i></a>
            </li>
            <li class="toggle-topbar tree-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
            {% if tree %}
                {% for branch in tree.branchs %}
                    <ul class="left">
                        {{ this.htmlSons(branch, instance) }}
                    </ul>
                {% endfor %}
            {% endif %}
            {# Right section #}
            <ul class="right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="notification">
                        {{ render(path('fhm_api_notification_counter')) }}
                    </li>
                    <li class="divider"></li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="has-dropdown">
                            <a href="#"><i class="fa fa-cogs"></i> {{ 'project.tree.admin'|trans }}</a>
                            <ul class="dropdown">
                                <li class="title back js-generated"><h5>
                                        <a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i> {{ 'project.tree.back'|trans }}
                                        </a></h5></li>
                                <li class="title back js-generated divider"></li>
                                <li>
                                    <a href="{{ path('fhm_admin') }}">{{ 'fhm.admin.link'|trans({}, 'FhmFhmBundle') }}</a>
                                </li>
                                <li class="divider"></li>
                                <li class="has-dropdown not-click">
                                    <a href="{{ path('fhm_admin_user') }}">{{ 'user.admin.index.link'|trans({}, 'FhmUserBundle') }}</a>
                                    <ul class="dropdown">
                                        <li class="title back js-generated"><h5>
                                                <a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i> {{ 'project.tree.back'|trans }}
                                                </a></h5></li>
                                        <li class="title back js-generated divider"></li>
                                        <li>
                                            <a href="{{ path('fhm_admin_user') }}">{{ 'user.admin.index.link'|trans({}, 'FhmUserBundle') }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fhm_admin_user_create') }}">{{ 'user.admin.create.link'|trans({}, 'FhmUserBundle') }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fhm_admin_user_import') }}">{{ 'user.admin.import.link'|trans({}, 'FhmUserBundle') }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fhm_admin_user_export') }}">{{ 'user.admin.export.link'|trans({}, 'FhmUserBundle') }}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                    {% endif %}
                    <li class="has-dropdown">
                        <a href="#"><i class="fa fa-user"></i> {{ 'project.tree.connected'|trans({'%username%': app.user.username}) }}
                        </a>
                        <ul class="dropdown">
                            <li class="title back js-generated"><h5>
                                    <a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i> {{ 'project.tree.back'|trans }}
                                    </a></h5></li>
                            <li class="title back js-generated divider"></li>
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">{{ 'user.front.detail.link'|trans({}, 'FhmUserBundle') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">{{ 'user.front.password.link'|trans({}, 'FhmUserBundle') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">{{ 'user.front.logout.link'|trans({}, 'FhmUserBundle') }}</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'user.front.create.link'|trans({}, 'FhmUserBundle') }}</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user"></i> {{ 'user.front.login.link'|trans({}, 'FhmUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </section>
    </nav>

{% endmacro %}

{# HTML Sons #}
{# @var data     object #}
{# @var instance object #}
{% macro htmlSons(data, instance) %}

    {% import _self as this %}

    {% if not data.getDelete() %}
        {% if data.getActive() %}
            {% if data.getRoute() %}
                {% set link = data.getRoute() %}
                {#{% elseif data.getPage() %}#}
                {#{% set link = path('fhm_' ~ instance.route ~ '_detail', {id:data.getId()}) %}#}
            {% else %}
                {% set link = '#' %}
            {% endif %}
            {% if(data.branchs|length > 0) %}
                <li class="has-dropdown not-click">
                    <a href="{{ link }}"><i class="fa fa-{{ data.getIcon() }}"></i> {{ data.getName() }}</a>
                    <ul class="dropdown">
                        <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                        <li class="parent-link show-for-small">
                            <a class="parent-link js-generated" href="{{ link }}"><i class="fa fa-{{ data.getIcon() }}"></i> {{ data.getName() }}
                            </a>
                        </li>
                        {% for branch in data.branchs %}
                            {{ this.htmlSons(branch, instance) }}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ link }}"><i class="fa fa-{{ data.getIcon() }}"></i> {{ data.getName() }}</a></li>
            {% endif %}

        {% else %}
            <li class="inactive"><a href="#"><i class="fa fa-{{ data.getIcon() }}"></i> {{ data.getName() }}</a></li>
        {% endif %}
    {% endif %}

{% endmacro %}

{# HTML Admin #}
{# @var tree      object #}
{# @var instance  object #}
{% macro htmlAdmin(tree, instance) %}
    {% trans_default_domain 'ProjectDefaultBundle' %}
    {% import _self as this %}

    <nav class="top-bar tree" data-topbar>
        <ul class="title-area">
            <li class="name">
                <a href="{{ path('project_home') }}"><i class="fa fa-home"></i></a>
            </li>
            <li class="toggle-topbar tree-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
            {% if tree %}
                {% for branch in tree.branchs %}
                    <ul class="left">
                        {{ this.htmlAdminSons(branch, instance) }}
                    </ul>
                {% endfor %}
            {% endif %}
            {# Right section #}
            <ul class="right">
                <li class="notification">
                    {{ render(path('fhm_api_notification_counter')) }}
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="#"><i class="fa fa-cogs"></i> {{ 'project.tree.admin'|trans }}</a>
                    <ul class="dropdown">
                        <li class="title back js-generated"><h5>
                                <a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i> {{ 'project.tree.back'|trans }}
                                </a></h5></li>
                        <li class="title back js-generated divider"></li>
                        <li>
                            <a href="{{ path('fhm_admin') }}">{{ 'fhm.admin.link'|trans({}, 'FhmFhmBundle') }}</a>
                        </li>
                        <li class="divider"></li>
                        <li class="has-dropdown not-click">
                            <a href="{{ path('fhm_admin_user') }}">{{ 'user.admin.index.link'|trans({}, 'FhmUserBundle') }}</a>
                            <ul class="dropdown">
                                <li class="title back js-generated"><h5>
                                        <a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i> {{ 'project.tree.back'|trans }}
                                        </a></h5></li>
                                <li class="title back js-generated divider"></li>
                                <li>
                                    <a href="{{ path('fhm_admin_user') }}">{{ 'user.admin.index.link'|trans({}, 'FhmUserBundle') }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fhm_admin_user_create') }}">{{ 'user.admin.create.link'|trans({}, 'FhmUserBundle') }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fhm_admin_user_import') }}">{{ 'user.admin.import.link'|trans({}, 'FhmUserBundle') }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fhm_admin_user_export') }}">{{ 'user.admin.export.link'|trans({}, 'FhmUserBundle') }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="#"><i class="fa fa-user"></i> {{ 'project.tree.connected'|trans({'%username%': app.user.username}) }}
                    </a>
                    <ul class="dropdown">
                        <li class="title back js-generated"><h5>
                                <a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i> {{ 'project.tree.back'|trans }}
                                </a></h5></li>
                        <li class="title back js-generated divider"></li>
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">{{ 'user.front.detail.link'|trans({}, 'FhmUserBundle') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_change_password') }}">{{ 'user.front.password.link'|trans({}, 'FhmUserBundle') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">{{ 'user.front.logout.link'|trans({}, 'FhmUserBundle') }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
{% endmacro %}

{# HTML Admin Sons #}
{# @var data     object #}
{# @var instance object #}
{% macro htmlAdminSons(data, instance) %}
    {% import _self as this %}
    {% if not data.getDelete() %}
        {% if data.getActive() %}
            {% if data.getRoute() %}
                {% set link = data.getRoute() %}
                {#{% elseif data.getPage() %}#}
                {#{% set link = path('fhm_' ~ instance.route ~ '_detail', {id:data.getId()}) %}#}
            {% else %}
                {% set link = '#' %}
            {% endif %}
            {% if(data.branchs|length > 0) %}
                <li class="has-dropdown not-click">
                    <a href="{{ link }}"><i class="fa fa-{{ data.getIcon() }}"></i> {{ data.getName() }}</a>
                    <ul class="dropdown">
                        <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                        <li class="parent-link show-for-small">
                            <a class="parent-link js-generated" href="{{ link }}"><i class="fa fa-{{ data.getIcon() }}"></i> {{ data.getName() }}
                            </a>
                        </li>
                        {% for branch in data.branchs %}
                            {{ this.htmlSons(branch, instance) }}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ link }}"><i class="fa fa-{{ data.getIcon() }}"></i> {{ data.getName() }}</a></li>
            {% endif %}

        {% else %}
            <li class="inactive"><a href="#"><i class="fa fa-{{ data.getIcon() }}"></i> {{ data.getName() }}</a></li>
        {% endif %}
    {% endif %}
{% endmacro %}