{# Admin #}
{% macro admin(document, instance) %}

    {% trans_default_domain instance.domain %}
    {% import _self as this %}

    <div class="mappicker">
        {% if document.mappicker.getName() == 'nomap' %}
            <a class="button" href="#" data-reveal-id="addZone" title="{{ (instance.translation ~ '.admin.detail.map.add.title')|trans }}">{{ document.getName() }}</a>
        {% else %}
            {{ document.mappicker.getTemplate('admin')|raw }}
        {% endif %}

        <div class="zones">
            <div class="add">
                <a href="#" data-reveal-id="addZone" id="revealAddZone" title="{{ (instance.translation ~ '.admin.detail.map.add.title')|trans }}">
                    <i class="fa fa-plus"></i></a>
            </div>
            <table class="fullwidth">
                <thead>
                    <th>{{ (instance.translation ~ '.' ~ document.getMap() ~ '.table.name')|trans }}</th>
                    <th>{{ (instance.translation ~ '.' ~ document.getMap() ~ '.table.code')|trans }}</th>
                    <th>{{ (instance.translation ~ '.' ~ document.getMap() ~ '.table.site')|trans }}</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for zone in document.getZone() %}
                        <tr>
                            <td>{{ (instance.translation ~ '.' ~ document.getMap() ~ '.zone-' ~ zone.code)|trans }}</td>
                            <td>{{ zone.code }}</td>
                            <td>{{ zone.site.getName() }}</td>
                            <td>
                                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_remove', {'id': document.getId(), 'code': zone.code}) }}" title="{{ (instance.translation ~ '.admin.detail.map.table.action.delete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.detail.map.table.confirm.delete')|trans }}')"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="addZone" class="reveal-modal" data-reveal>
        <h2>{{ (instance.translation ~ '.admin.detail.map.add.title')|trans }}</h2>

        <form action="{{ path('fhm_admin_mappicker_add') }}" method="POST">
            <div class="row">
                <div class="large-12 columns">
                    <label for="FhmAdd_code" class="required">{{ (instance.translation ~ '.admin.detail.map.add.form.zone')|trans }}</label>
                    <select id="FhmAdd_code" name="FhmAdd[code]" required="required">
                        {% for i in 1..(instance.translation ~ '.' ~ document.getMap() ~ '.count')|trans %}
                            <option value="{{ i < 10 ? '0' ~ i : i }}">{{ (instance.translation ~ '.' ~ document.getMap() ~ '.zone-' ~ (i < 10 ? '0' ~ i : i))|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label for="FhmAdd_site" class="required">{{ (instance.translation ~ '.admin.detail.map.add.form.site')|trans }}</label>
                    <select id="FhmAdd_site" name="FhmAdd[site]" required="required">
                        {% for site in document.sites %}
                            <option value="{{ site.getId() }}">{{ site.getName() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="hidden" id="FhmAdd_parent" name="FhmAdd[id]" value="{{ document.getId() }}">
                    <button type="submit" id="FhmAdd_submit" name="FhmAdd[submit]">{{ (instance.translation ~ '.admin.detail.map.add.form.submit')|trans }}</button>
                </div>
            </div>
        </form>
    </div>

{% endmacro %}

{# Front #}
{% macro front(documents, instance) %}

    {% trans_default_domain instance.domain %}
    {% import _self as this %}

    <div class="mappicker">
        {% for document in documents %}
            {% if document.mappicker.getName() == 'nomap' %}
                <a class="button" href="{{ path('fhm_site_detail',{id: document.getZoneSite('01').getId()}) }}">{{ document.getName() }}</a>
            {% else %}
                {{ document.mappicker.getTemplate('front')|raw }}
            {% endif %}
        {% endfor %}
    </div>

{% endmacro %}

{# IHM #}
{% macro ihm(documents, instance) %}

    {% trans_default_domain instance.domain %}
    {% import _self as this %}

    <div class="mappicker">
        {% for document in documents %}
            {% if document.mappicker.getName() == 'nomap' %}
                <a class="button" href="#">{{ document.getName() }}</a>
            {% else %}
                {{ document.mappicker.getTemplate('ihm')|raw }}
            {% endif %}
        {% endfor %}
    </div>

{% endmacro %}