{% macro media(data) %}

    {% import _self as this %}

    {% if data|length > 0 %}
        {% if 'image' in data.getType() %}
            {% if data %}
                <a class="th" href="{{ asset(data|media) }}">
            {% endif %}
            <img data-caption="{{ data.name }}" src="{{ asset(data|small) }}">
            {% if data %}
                </a>
            {% endif %}
        {% endif %}

        {% if 'video' in data.getType() %}
            <div class="flex-video">
                <iframe width="420" height="315" src="{{ asset(data|media, absolute=true) }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
    {% endif %}

{% endmacro %}

{% macro mediaslider(data) %}

    {% import _self as this %}

    {% if data|length > 0 %}
        {% if 'image' in data.getType() %}
            {% if data %}
                <img src="{{ asset(data|media) }}" alt="{{ data.name }}" />
                <div class="orbit-caption">
                    {{ data.name }}
                </div>
            {% endif %}
        {% endif %}

        {% if 'video' in data.getType() %}
            <div class="flex-video">
                <iframe width="420" height="315" src="{{ asset(data|media, absolute=true) }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
    {% endif %}

{% endmacro %}

{% macro popup(dataId) %}
    {% import _self as this %}

    <div class="row">
        <div class="reveal-modal"  data-reveal  box="{{dataId}}" id="modal-{{ dataId }}"  aria-hidden="true" role="dialog" >
            <div class="modal-header">
                <h2>Liste de media</h2>
            </div>
            <div class="modal-body">
                {% render(path('fhm_api_media_data_front',{'id':  dataId })) %}
            </div>
            <div class="modal-footer">
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
        </div>
    </div>
{% endmacro %}