{# Afficher #}
{% macro print(field, sort) %}

    {% import _self as this %}

    <a href="#" class="list-sort right"
       data-field="{{ field }}"
       data-order="{{ sort.field == field and sort.order == 'asc' ? 'desc' : 'asc'  }}"
       data-post="{{ sort.post }}"
       data-sort>
        <span class="label radius {{ sort.field == field ? 'default' : 'secondary' }}">
            <i class="fa fa-chevron-{{ sort.field == field and sort.order == 'desc' ? 'down' : 'up' }}"></i>
        </span>
    </a>

{% endmacro %}