{% trans_default_domain instance.domain %}
{% import "::Macros/pagination.html.twig" as macroPagination %}
<div id="content_data" class="row news">
    {% if pagination %}
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
            {% for object in pagination %}
                <li>
                    <div class="item">
                        <div class="front" style="background:url('{{ object.getImage()|media('l', asset('images/default-news.jpg')) }}') center center no-repeat">
                            <div class="caption">
                                <h2>{{ object.getTitle() }}</h2>
                                {% if object.getSubtitle() %}
                                    <h3>{{ object.getSubtitle() }}</h3>
                                {% endif %}
                                <span>{{ object.getDateStart() ? object.getDateStart()|localizeddate('short', 'none', app.request.locale) : object.getDateCreate()|localizeddate('short', 'none', app.request.locale) }}</span>
                            </div>
                        </div>
                        <div class="back">
                            <h2>{{ object.getTitle() }}</h2>
                            {{ object.getResume()|raw }}
                            <a class="more button tiny radius hvr-grow" href="{{ path('fhm_news_lite', {id: object.getAlias()}) }}">{{ ('news.front.index.form.more')|trans({},'FhmNewsBundle') }}</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="nodata">
            {{ (instance.translation ~ '.front.index.nodata')|trans }}
        </div>
    {% endif %}
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
        <div class="counter">{{ ('fhm.pagination.counter')|trans({}, 'FhmFhmBundle') }} :
            <span>{{ pagination.getTotalItemCount }}</span></div>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        $(".news .item").flip({
            trigger: 'hover'
        });
    });
</script>