{% trans_default_domain  "FhmUserBundle" %}
{% set breadcrumbs = [{'link':path('project_home'), 'text':'project.home.breadcrumb'|trans({},'ProjectDefaultBundle')}, {'link':'', 'text':('user.front.create.breadcrumb')|trans({},'FhmUserBundle'), 'current':true}] %}
{% extends "::FhmFhm/Front/index.html.twig" %}

{% block tagline_data %}
    <i class="fa fa-user-plus"></i> {{ 'user.front.create.confirmed.title'|trans({'%username%':user.getUsername()|default('')}) }}
{% endblock %}

{% block content %}
    <div class="row">
        {# Message #}
        <div class="panel">
            <h3>{{ 'user.front.create.confirmed.message.title'|trans|raw }}</h3>
            {{ 'user.front.create.confirmed.message.text'|trans|raw }}
        </div>

        {# Start #}
        <div class="panel">
            <h3>{{ 'user.front.create.confirmed.start.title'|trans|raw }}</h3>
            <div>{{ 'user.front.create.confirmed.start.text'|trans|raw }}</div>
            <ul>
                <li>{{ 'user.front.create.confirmed.start.list1'|trans({'%route%':path('fos_user_profile_show')})|raw }}</li>
            </ul>
        </div>
    </div>
{% endblock %}