{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{{ path('article_detail', { id: post.id }) }}">
                    {{ post.title }}
                </a>
            </h2>

            {{ post.resume|md2html }}
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}
