{% trans_default_domain instance.domain %}

<div class='data file {{ object.getExtension() }}' media-id='{{ object.getId() }}' title='{{ object.getName() }}'>
    <div class="name">
        {{ object.getName() }}
    </div>
    <div class="extension">
        <span class="radius label secondary">{{ object.getExtension() }}</span>
    </div>
    <div class="indicator">
        {% if object.getDelete() %}
            <span class="status alert label" title="{{ ('fhm.status.delete')|trans({}, 'FhmFhmBundle') }}"></span>
        {% elseif not object.getActive() %}
            <span class="status warning label" title="{{ ('fhm.status.disable')|trans({}, 'FhmFhmBundle') }}"></span>
        {% else %}
            <span class="status success label" title="{{ ('fhm.status.enable')|trans({}, 'FhmFhmBundle') }}"></span>
        {% endif %}
        {% if object.getGlobal() %}
            <span class="status info label" title="{{ ('fhm.status.global')|trans({}, 'FhmFhmBundle') }}"></span>
        {% endif %}
        {% if object.getShare() and not object.hasGrouping(instance.grouping.used) %}
            <span class="status regular label" title="{{ ('fhm.status.share')|trans({}, 'FhmFhmBundle') }}"></span>
        {% endif %}
        {% if object.getPrivate() %}
            <span class="status icon right" title="{{ ('fhm.status.private')|trans({}, 'FhmFhmBundle') }}"><i class="fa fa-lock"></i></span>
        {% endif %}
    </div>
    <div class="actions">
        <div>
            <a href="{{ object|media }}" target="_blank" title="{{ ('media.bloc.download')|trans({},'FhmMediaBundle') }}" download="{{ object.getAlias() ~ '.' ~ object.getExtension() }}"><i class="fa fa-download"></i></a>
            <a href="{{ object|media }}" target="_blank" title="{{ ('media.bloc.detail')|trans({},'FhmMediaBundle') }}"><i class="fa fa-search-plus"></i></a>
            {% if object.getShare() and not instance.user.admin %}
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_detail', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.detail')|trans }}"><i class="fa fa-gear"></i></a>
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_duplicate', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.duplicate')|trans }}"><i class="fa fa-files-o"></i></a>
            {% elseif object.getDelete() %}
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_detail', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.detail')|trans }}"><i class="fa fa-gear"></i></a>
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_update', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.update')|trans }}"><i class="fa fa-pencil"></i></a>
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_duplicate', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.duplicate')|trans }}"><i class="fa fa-files-o"></i></a>
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_undelete', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.undelete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.undelete')|trans }}')"><i class="fa fa-undo"></i></a>
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_delete', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.delete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.delete')|trans }}')"><i class="fa fa-trash"></i></a>
            {% else %}
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_detail', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.detail')|trans }}"><i class="fa fa-gear"></i></a>
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_update', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.update')|trans }}"><i class="fa fa-pencil"></i></a>
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_duplicate', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.duplicate')|trans }}"><i class="fa fa-files-o"></i></a>
                {% if object.getActive() %}
                    <a href="{{ path('fhm_admin_' ~ instance.route ~ '_deactivate', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.deactivate')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.deactivate')|trans }}')"><i class="fa fa-eye-slash"></i></a>
                {% else %}
                    <a href="{{ path('fhm_admin_' ~ instance.route ~ '_activate', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.activate')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.activate')|trans }}')"><i class="fa fa-eye"></i></a>
                {% endif %}
                <a href="{{ path('fhm_admin_' ~ instance.route ~ '_delete', {'id': object.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.delete')|trans }}" onclick="return confirm('{{ (instance.translation ~ '.admin.index.table.confirm.delete')|trans }}')"><i class="fa fa-trash-o"></i></a>
            {% endif %}
        </div>
    </div>
</div>