<div class="media">
    {% if object.getType() == 'image' %}
        <a href="{{ object|media(format) }}" target="_blank" title="{{ object.getName() }}" download="{{ object.getAlias() ~ '.' ~ object.getExtension() }}">
            <div class='data download image' media-id='{{ object.getId() }}' title='{{ ('media.bloc.download')|trans({},'FhmMediaBundle') }}' style="background:url('{{ object|media('s') }}') no-repeat center center;">
            </div>
        </a>
    {% else %}
        <a href="{{ object|media(format) }}" target="_blank" title="{{ object.getName() }}">
            <div class='data download file {{ object.getExtension() }}' media-id='{{ object.getId() }}' title='{{ ('media.bloc.download')|trans({},'FhmMediaBundle') }}'>
            </div>
        </a>
    {% endif %}
</div>
