{% trans_default_domain instance.domain %}

<div class="data">
    <div class='item file {{ object.getExtension() }}' title='{{ object.getName() }}'>
        <div class="name">
            {{ object.getName() }}
        </div>
        <div class="extension right">
            <span class="radius label secondary">{{ object.getExtension() }}</span>
        </div>
        <div class="actions">
            <a href="#" data-type="link" data-url="{{ object|link }}" data-title="{{ object.getName() }}" data-text="{{ object.getName() }}" title="{{ ('media.bloc.insert.link')|trans({},'FhmMediaBundle') }}"><i class="fa fa-link"></i></a>
        </div>
    </div>
</div>
