{% trans_default_domain instance.domain %}

<div class='data file {{ object.getExtension() }}' media-id='{{ object.getId() }}' media-name='{{ object.getName() }}' media-extension='{{ object.getExtension() }}' media-type='file' title='{{ title }}'>
    <div class="name">
        {{ object.getName() }}
    </div>
    <div class="actions view">
        <a href="{{ object|media }}" target="_blank" title="{{ ('media.bloc.download')|trans({},'FhmMediaBundle') }}"><i class="fa fa-download"></i></a>
    </div>
</div>