{% trans_default_domain instance.domain %}

<div class='data image' media-id='{{ object.getId() }}' media-name='{{ object.getName() }}' media-extension='{{ object.getExtension() }}' media-type='image' title='{{ title }}' style="background:url('{{ object|media('s') }}') no-repeat center center;">
    <div class="name">
        {{ title }}
    </div>
    <div class="actions view">
        <a href="{{ url }}" title="{{ ('media.bloc.download')|trans({},'FhmMediaBundle') }}" download="{{ object.getAlias() ~ '.' ~ object.getExtension() }}"><i class="fa fa-download"></i></a>
        <a href="#" title="{{ ('media.bloc.detail')|trans({},'FhmMediaBundle') }}" data-reveal-id="modal-media-zoom" media-id="{{ object.getId() }}" media-zoom><i class="fa fa-search-plus"></i></a>
    </div>
</div>