{% trans_default_domain instance.domain %}

<div class='data clickable image {{ document.getId() == selected ? 'selected' : '' }}' media-id='{{ document.getId() }}' media-name='{{ document.getName() }}' media-extension='{{ document.getExtension() }}' media-type='image' title='{{ document.getName() }}' style="background:url('{{ document|media('s') }}') no-repeat center center;">
    <div class="name">
        {{ document.getName() }}
    </div>
    <div class="extension right">
        <span class="radius label secondary" title="{{ document|dimension }}">{{ document.getExtension() }} <small>{{ document|dimension }}</small></span>
    </div>
</div>