{% trans_default_domain instance.domain %}

<div id="content_data" class="row article short">
    {% if pagination %}
        <ul class="article-list small-block-grid-1 medium-block-grid-2 large-block-grid-4">
            {% for object in pagination %}
                <li>
                    <div class="item">
                        <div class="front" style="background:url('{{ object.getImage()|media('l', asset('images/default-article.jpg')) }}') center center no-repeat">
                            <div class="caption">
                                <h2>{{ object.getTitle() }}</h2>
                                {% if object.getSubtitle() %}
                                    <h3>{{ object.getSubtitle() }}</h3>
                                {% endif %}
                            </div>
                        </div>
                        <div class="back">
                            <h2>{{ object.getTitle() }}</h2>
                            {{ object.getResume()|raw }}
                            <a class="more button tiny radius hvr-grow" href="{{ path('fhm_article_lite', {id: object.getAlias()}) }}">{{ ('article.front.index.form.more')|trans({},'FhmArticleBundle') }}</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="nodata">
            {{ (instance.translation ~ '.front.index.nodata')|trans }}
        </div>
    {% endif %}
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
        <div class="counter">{{ ('fhm.pagination.counter')|trans({}, 'FhmFhmBundle') }} :
            <span>{{ pagination.getTotalItemCount }}</span></div>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        $(".article .item").flip({
            trigger: 'hover'
        });
    });
</script>