{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_slider_item') }}" class="button small"><i class="fa fa-photo"></i> {{ ('slider.item.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_header %}
    {{ parent() }}
    <th>{{ (instance.translation ~ '.admin.index.table.header.images')|trans }}</th>
{% endblock %}

 {% block content_data_body %}
     {{ parent() }}
     <td>{{ object.getItems()|length }}</td>
 {% endblock %}