{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_search %}{% endblock %}
{% block content_pagination %}{% endblock %}

{% block tagline_data %}
    {{ parent() }}
    <br/>
    <small>{{ (instance.translation ~ '.admin.model.title')|trans }}</small>
{% endblock %}

{% block content_link_data %}
    <li>
        <a href="{{ path('fhm_admin') }}" class="button small secondary"><i class="fa fa-angle-double-left"></i></a>
    </li>
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_create') }}" class="button small success"><i class="fa fa-plus"></i> {{ (instance.translation ~ '.admin.create.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route) }}" class="button small"><i class="fa fa-envelope"></i> {{ (instance.translation ~ '.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_api_mail_admin_test') }}" class="button small"><i class="fa fa-send"></i> {{ (instance.translation ~ '.test.title')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data %}
    <div class="row">
        <div class="columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.model.user.fieldset')|trans }}</legend>
                <div class="small-12 medium-3 columns">
                    <a class="button fullwidth" href="#" data-reveal-id="mailModal" data-mail-modal="{{ path('fhm_api_mail_user_register') }}">{{ (instance.translation ~ '.admin.model.user.register')|trans }}</a>
                </div>
                <div class="small-12 medium-3 columns end">
                    <a class="button fullwidth" href="#" data-reveal-id="mailModal" data-mail-modal="{{ path('fhm_api_mail_user_reset') }}">{{ (instance.translation ~ '.admin.model.user.reset')|trans }}</a>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.model.contact.fieldset')|trans }}</legend>
                <div class="small-12 medium-3 columns end">
                    <a class="button fullwidth" href="#" data-reveal-id="mailModal" data-mail-modal="{{ path('fhm_api_mail_contact_default') }}">{{ (instance.translation ~ '.admin.model.contact.default')|trans }}</a>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.model.place.create.fieldset')|trans }}</legend>
                <div class="small-12 medium-3 columns end">
                    <a class="button fullwidth" href="#" data-reveal-id="mailModal" data-mail-modal="{{ path('fhm_api_mail_place_moderation_create_admin') }}">{{ (instance.translation ~ '.admin.model.place.create.admin')|trans }}</a>
                </div>
                <div class="small-12 medium-3 columns end">
                    <a class="button fullwidth" href="#" data-reveal-id="mailModal" data-mail-modal="{{ path('fhm_api_mail_place_moderation_create_user') }}">{{ (instance.translation ~ '.admin.model.place.create.user')|trans }}</a>
                </div>
                <div class="small-12 medium-3 columns end">
                    <a class="button fullwidth" href="#" data-reveal-id="mailModal" data-mail-modal="{{ path('fhm_api_mail_place_moderation_create_accept') }}">{{ (instance.translation ~ '.admin.model.place.create.accept')|trans }}</a>
                </div>
                <div class="small-12 medium-3 columns end">
                    <a class="button fullwidth" href="#" data-reveal-id="mailModal" data-mail-modal="{{ path('fhm_api_mail_place_moderation_create_refuse') }}">{{ (instance.translation ~ '.admin.model.place.create.refuse')|trans }}</a>
                </div>
                <div class="small-12 medium-3 columns end">
                    <a class="button fullwidth" href="#" data-reveal-id="mailModal" data-mail-modal="{{ path('fhm_api_mail_place_moderation_create_cancel') }}">{{ (instance.translation ~ '.admin.model.place.create.cancel')|trans }}</a>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="mailModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <div id="mailModalContent">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
{% endblock %}

{% block body_javascripts_script %}
    {{ parent() }}
    <script>
        $('a[data-mail-modal]').click(function (e)
        {
            e.preventDefault();
            $('#mailModalContent').html("<i class='fa fa-refresh fa-spin'></i>");
            $.ajax
            ({
                type:    'POST',
                url:     $(this).attr('data-mail-modal'),
                data:    {},
                success: function (data)
                {
                    $('#mailModalContent').fadeToggle(400, "linear", function ()
                    {
                        $('#mailModalContent').html(data).fadeToggle(400, "linear");
                    });
                }
            });
        });
    </script>
{% endblock %}