{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/create.html.twig" %}
{% import "::Macros/dd.tree.html.twig" as macroTree %}

{% block content_data_fields_data_add %}
    <div class="row">
        {{ form_label(form.icon) }}
        {{ form_errors(form.icon) }}
        {{ form_widget(form.icon) }}
    </div>
    <div class="row">
        {{ form_label(form.route) }}
        {{ form_errors(form.route) }}
        {{ form_widget(form.route) }}
    </div>
{% endblock %}

{% block authers_content %}
    {% set element = form.route.vars.id %}
    {{ macroTree.moduleAjax(object, modules,element,instance.translation ~ '.admin.detail.menu', instance) }}
{% endblock %}



