{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/detail.html.twig" %}
{% import "::Macros/dd.tree.html.twig" as macroTree %}

{% block content_data_information %}
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.id')|trans }}</strong></td>
        <td>{{ object.getId() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.create')|trans }}</strong></td>
        <td>
            {{ object.getUserCreate() ? object.getUserCreate().getUsername() ~ ' - ' : '' }}
            {{ object.getDateCreate() | localizeddate('full', 'short', app.request.locale) }}
        </td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.update')|trans }}</strong></td>
        <td>
            {{ object.getUserUpdate() ? object.getUserUpdate().getUsername() ~ ' - ' : '' }}
            {{ object.getDateUpdate() | localizeddate('full', 'short', app.request.locale) }}
        </td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.name')|trans }}</strong></td>
        <td>{{ object.getName() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.alias')|trans }}</strong></td>
        <td>{{ object.getAlias() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.description')|trans }}</strong>
        </td>
        <td>{{ object.getDescription() }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.status')|trans }}</strong></td>
        <td>
            {% if object.getDelete() %}
                <span class="status alert radius label">{{ ('fhm.status.delete')|trans({}, 'FhmFhmBundle') }}</span>
            {% elseif not object.getActive() %}
                <span class="status warning radius label">{{ ('fhm.status.disable')|trans({}, 'FhmFhmBundle') }}</span>
            {% else %}
                <span class="status success radius label">{{ ('fhm.status.enable')|trans({}, 'FhmFhmBundle') }}</span>
            {% endif %}
            {% if object.getShare() %}
                <span class="status regular radius label">{{ ('fhm.status.share')|trans({}, 'FhmFhmBundle') }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.data.route')|trans }}</strong></td>
        <td>{{ object.getRoute() }}</td>
    </tr>
{% endblock %}

{% block content_data %}
    <div class="row">
        <h2>{{ (instance.translation ~ '.admin.detail.menu.title')|trans }}</h2>
    </div>
    <div class="row">
        {{ macroTree.admin(tree, treemap, object, modules,instance.translation ~ '.admin.detail.menu', instance) }}
    </div>
    {{ parent() }}
{% endblock %}

{% block content_admin %}{% endblock %}