{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/update.html.twig" %}

{% block content_data_fields_data %}
    <div class="large-6 medium-6 small-12 columns">
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.update.form.fieldset.data')|trans }}</legend>
            <div class="row">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="row">
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </div>
            <div class="row">
                {{ form_label(form.link) }}
                {{ form_errors(form.link) }}
                {{ form_widget(form.link) }}
            </div>
            <div class="row">
                {{ form_label(form.order) }}
                {{ form_errors(form.order) }}
                {{ form_widget(form.order) }}
            </div>
        </fieldset>
    </div>
    <div class="large-6 medium-6 small-12 columns">
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.update.form.fieldset.media')|trans }}</legend>
            <div class="row">
                {{ form_label(form.image) }}
                {{ form_errors(form.image) }}
                {{ form_widget(form.image) }}
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.update.form.fieldset.partnergroups')|trans }}</legend>
            <div class="row">
                {{ form_label(form.partnergroups) }}
                {{ form_errors(form.partnergroups) }}
                {{ form_widget(form.partnergroups) }}
            </div>
        </fieldset>
    </div>
{% endblock %}

{% block content_data_submit_list_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_partner_group') }}" class="button small button-icon button-cubes">{{ ('partner.group.admin.index.link')|trans }}</a>
    </li>
{% endblock %}