{% set instance = {'domain':'FhmUserBundle', 'translation':'user', 'route':'user', 'source':'fhm'} %}
{% set breadcrumbs = [{'link':path('project_home'), 'text':'project.home.breadcrumb'|trans({},'ProjectDefaultBundle')}, {'link':'', 'text':('user.front.resetting.request.breadcrumb')|trans({},'FhmUserBundle'), 'current':true}] %}
{% set layout_extend = "::layout.front.html.twig" %}
{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Front/update.html.twig" %}

{% block content_data_alert %}{% endblock %}
{% block content_data_submit_list %}{% endblock %}

{% block tagline_data %}
    <i class="fa fa-unlock-alt"></i> {{ (instance.translation ~ '.front.resetting.request.title')|trans }}
{% endblock %}

{% block content_data %}
    <div class="row">
        {% if invalid_username is defined %}
            <div class="medium-6 medium-centered columns">
                <label class="error">{{ 'user.front.resetting.request.form.error'|trans }}</label>
            </div>
        {% endif %}
        <div class="column medium-6 medium-centered">
            <form action="{{ path("fos_user_resetting_send_email") }}" method="POST">
                <div>
                    <label for="username">{{ 'user.front.resetting.request.form.username'|trans }}</label>
                    <input type="text" id="username" name="username" required="required"/>
                </div>
                <div>
                    <button type="submit" id="_submit" name="submit" class="small fullwidth">{{ 'user.front.resetting.request.form.submit'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
