{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/create.html.twig" %}

{% block content_data_fields_data %}
    {{ parent() }}
    <div class="large-6 medium-6 small-12 columns">
        <fieldset>
            <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.tasks')|trans }}</legend>
            <div class="row">
                {{ form_label(form.tasks) }}
                {{ form_errors(form.tasks) }}
                {{ form_widget(form.tasks) }}
            </div>
        </fieldset>
    </div>
{% endblock %}