{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block body_class %}
    {{ parent() }} workflow
{% endblock %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_workflow_task') }}" class="button small"><i class="fa fa-square"></i> {{ ('workflow.task.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_action') }}" class="button small"><i class="fa fa-ellipsis-h"></i> {{ ('workflow.action.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_step') }}" class="button small"><i class="fa fa-columns"></i> {{ ('workflow.step.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_comment') }}" class="button small"><i class="fa fa-comment"></i> {{ ('workflow.comment.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_log') }}" class="button small"><i class="fa fa-history"></i> {{ ('workflow.log.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_share_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
    <li>
        <a href="#"
           title="{{ ('workflow.action.buttons.expand')|trans }}"
           data-id="{{ document.getId() }}"
           data-url="{{ path('fhm_api_workflow_modal',{id:document.getId()}) }}"
           data-modal><i class="fa fa-fw fa-expand"></i> {{ ('workflow.action.buttons.expand')|trans }}</a>
    </li>
{% endblock %}

{% block content_data_action_delete_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
    <li>
        <a href="#"
           title="{{ ('workflow.action.buttons.expand')|trans }}"
           data-id="{{ document.getId() }}"
           data-url="{{ path('fhm_api_workflow_modal',{id:document.getId()}) }}"
           data-modal><i class="fa fa-fw fa-expand"></i> {{ ('workflow.action.buttons.expand')|trans }}</a>
    </li>
{% endblock %}

{% block content_data_action_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
    <li>
        <a href="#"
           title="{{ ('workflow.action.buttons.expand')|trans }}"
           data-id="{{ document.getId() }}"
           data-url="{{ path('fhm_api_workflow_modal',{id:document.getId()}) }}"
           data-modal><i class="fa fa-fw fa-expand"></i> {{ ('workflow.action.buttons.expand')|trans }}</a>
    </li>
{% endblock %}

{% block content_data_header %}
    {{ parent() }}
    <th>{{ (instance.translation ~ '.admin.index.table.header.task')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.step')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.state')|trans }}</th>
{% endblock %}

{% block content_data_body %}
    {{ parent() }}
    <td>{{ document.getSortTask() }}</td>
    <td>{{ document.getStep() ? document.getStep().getOrder() ~ ' - ' ~ document.getStep().getName() : '' }}</td>
    <td>
        {% if document.getStatus() == 3 %}
            <span class="label alert radius">{{ (instance.translation ~ '.status.cancel')|trans }}</span>
        {% elseif document.getStatus() == 2 %}
            <span class="label success radius">{{ (instance.translation ~ '.status.finish')|trans }}</span>
        {% elseif document.getStatus() == 1 %}
            <span class="label warning radius">{{ (instance.translation ~ '.status.run')|trans }}</span>
        {% else %}
            <span class="label secondary radius">{{ (instance.translation ~ '.status.wait')|trans }}</span>
        {% endif %}
    </td>
{% endblock %}

{% block content_data %}
    {{ parent() }}
    <div id="wfModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <div id="wfModalContent"></div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
{% endblock %}