{% trans_default_domain instance.domain %}

<li class="accordion-navigation menu">
    <a href="#accordion{{ category.getId() }}" class="title"><span>{{ category.getName() }}</span></a>
    <div id="accordion{{ category.getId() }}" class="content {{ loop.index0 == 0 ? 'active' : '' }}">
        <div class="bloc">
            <div class="title">
                <span class="price">{{ category.getPrice()|number_format(2) }}{{ category.getCurrency() }}</span>
            </div>
            {% if category.getDescription() %}
                <div class="description">
                    {{ category.getDescription() }}
                </div>
            {% endif %}
            {% if category.getProducts().count() > 0 %}
                {% render(path('fhm_api_card_product_embed', {idCard:document.getId(), idCategory:category.getId(), template:'menu'})) %}
            {% endif %}
            {% if category.getSons().count() > 0 %}
                {% render(path('fhm_api_card_category_embed', {idCard:document.getId(), idCategory:category.getId(), template:'index.menu'})) %}
            {% endif %}
        </div>
    </div>
</li>