{% block autocomplete_widget %}
    {% spaceless %}
        <div class="autocomplete">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text"
                        value="{{ data ? data.getName() : '' }}" id="{{ id }}-input" data-field="{{ form.vars.id }}" data-url="{{ form.vars.url }}" data-autocomplete
                        {% if read_only %} readonly="readonly" {% endif %}
                        {% if disabled %} disabled="disabled" {% endif %}
                        {% if required %} required="required" {% endif %}
                        {% for attrname, attrvalue in attr %}
                            {{ " " }}
                            {% if attrname in ['placeholder', 'title'] %}
                                {{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
                            {% elseif attrvalue is sameas(true) %}
                                {{ attrname }}="{{ attrname }}"
                            {% elseif attrvalue is not sameas(false) %}
                                {{ attrname }}="{{ attrvalue }}"
                            {% endif %}
                        {% endfor %}
                    />
                </div>
                <div class="small-2 columns end">
                    <a href="#" id="{{ form.vars.id }}-button" class="button postfix" data-field="{{ form.vars.id }}" data-autocomplete><i class="fa fa-ellipsis-h"></i></a>
                </div>
            </div>
            <div class="list" id="{{ form.vars.id }}-list"></div>
            <input type="hidden" value="{{ value }}" id="{{ id }}" name="{{ full_name }}"/>
        </div>
    {% endspaceless %}
{% endblock %}

{% block schedules_widget %}
    {% spaceless %}
        <div class="form-schedules">
            <div class="days">
                {% for i in 1..7 %}
                    <div class="row collapse">
                        <div class="small-4 columns">
                            <span class="prefix">{{ ('fhm.schedules.days.' ~ i)|trans({},'FhmFhmBundle') }}</span>
                        </div>
                        <div class="small-2 columns">
                            {{ form_widget(form['days_' ~ i ~ '_0']) }}
                        </div>
                        <div class="small-2 columns">
                            {{ form_widget(form['days_' ~ i ~ '_1']) }}
                        </div>
                        <div class="small-2 columns">
                            {{ form_widget(form['days_' ~ i ~ '_2']) }}
                        </div>
                        <div class="small-2 columns">
                            {{ form_widget(form['days_' ~ i ~ '_3']) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="small-4 columns">
                    {{ form_label(form.close_enable) }}
                    {{ form_errors(form.close_enable) }}
                    <div class="switch">
                        {{ form_widget(form.close_enable) }}
                        <label for="{{ form.close_enable.vars.id }}"></label>
                    </div>
                </div>
                <div class="small-8 columns">
                    {{ form_label(form.close_date) }}
                    {{ form_errors(form.close_date) }}
                    {{ form_widget(form.close_date) }}
                </div>
            </div>
            <div class="row">
                <div class="columns">
                    {{ form_label(form.close_reason) }}
                    {{ form_errors(form.close_reason) }}
                    {{ form_widget(form.close_reason)|raw }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}