{% trans_default_domain instance.domain %}

<div id="mappicker_{{ document.getId() }}" class="map {{ name }} {% block map_class %}{% endblock %}"></div>
<script>
    $(document).ready(function ()
    {
        var ze{{ document.getId() }} = [];
        {% for zone in document.getZone() %}
        ze{{ document.getId() }}['{{ zone.code }}'] = '{{ path('fhm_site_detail', {id: zone.site.getId()}) }}'
        {% endfor %}
        jQuery.fn.vectorMap('addMap', '{{ document.getId() }}',
            {
                "width":  '{{ width }}',
                "height": '{{ height }}',
                "paths":  {
                    {% for code, path in zones %}
                    "{{ code }}": {"path": "{{ path }}", "name": "{{ (instance.translation ~ '.' ~ name ~ '.zone-' ~ code)|trans|raw }}" },
                    {% endfor %}
                }
            });
        $('#mappicker_{{ document.getId() }}').vectorMap({
            map:             '{{ document.getId() }}',
            backgroundColor: '{{ params.backgroundColor }}',
            zoomOnScroll:    false,
            panOnDrag:       false,
            regionStyle:     {
                initial:       {
                    "fill":           '{{ params.fillColor }}',
                    "fill-opacity":   '{{ params.fillOpacity }}',
                    "stroke":         '{{ params.strokeColor }}',
                    "stroke-width":   '{{ params.strokeWidth }}',
                    "stroke-opacity": '{{ params.strokeOpacity }}'
                },
                hover:         {
                    "fill":         '{{ params.fillColorHover }}',
                    "fill-opacity": '{{ params.fillOpacityHover }}',
                    "cursor":       '{{ params.cursorHover }}'
                },
                selected:      {
                    "fill":         '{{ params.fillColorSelected }}',
                    "fill-opacity": '{{ params.fillOpacitySelected }}'
                },
                selectedHover: {
                    "fill":         '{{ params.fillColorSelectedHover }}',
                    "fill-opacity": '{{ params.fillOpacitySelectedHover }}',
                    "cursor":       '{{ params.cursorSelectedHover }}'
                }
            },
            selectedRegions: [
                {% for zone in document.getZone() %}
                    "{{ zone['code'] }}"{{ loop.last ? '' : ',' }}
                {% endfor %}
            ],
            onRegionOver:    function (event, code)
            {
                {% block map_region_over %}{% endblock %}
            },
            onRegionClick:   function (event, code)
            {
                {% block map_region_click %}{% endblock %}
            }
        });
    });
</script>