{% trans_default_domain instance.domain %}

<div id="content_data" class="event">
    <div class="row event-full">
        <h1>{{ object.getTitle() }}</h1>
        <h2>{{ object.getSubTitle() }}</h2>
        <div class="event-image" style="background: url('{{ asset(object.getImage()|media("xxl","/images/common/event-cover-default.jpg")) }}') center center no-repeat;"></div>
        <div class="event-date">{{ object.getDateStart()|localizeddate('full', 'none', app.request.locale) }} - {{ object.getDateEnd()|localizeddate('full', 'none', app.request.locale) }}</div>
        <div class="event-resume">{{ object.getResume()|raw }}</div>
        <div class="event-content">{{ object.getContent()|raw }}</div>
        <div class="event-author">{{ object.getAuthor() is defined ? object.getAuthor().getUsername() : 'admin'}}</div>
    </div>
</div>