{% trans_default_domain instance.domain %}
<div class="form form-create">
    <form action="{{ path('fhm_api_card_category_create',{idCard:card.getId(), idMaster:master ? master.getId() : 0, idCategory:parent ? parent.getId() : 0, template:template}) }}" method="POST">
        {% if form.vars.errors|length > 0 %}
            <div class="form-bloc form-error">
                <div class="row">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}
        <div class="form-bloc form-fields row">
            <div class="columns">
                <fieldset>
                    <legend>{{ (instance.translation ~ '.api.create.form.fieldset.data')|trans }}</legend>
                    <div class="row">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="row">
                        {{ form_label(form.description) }}
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                    <div class="row">
                        {{ form_label(form.order) }}
                        {{ form_errors(form.order) }}
                        {{ form_widget(form.order) }}
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-bloc form-submit text-center">
            {{ form_widget(form.submitSave, {'attr':{'class':'small button-icon button-save button'}}) }}
        </div>
        <div class="form-bloc form-rest">
            <div class="row">
                {{ form_rest(form) }}
            </div>
        </div>
    </form>
</div>