{% set instance = {'domain':'FhmUserBundle', 'translation':'user', 'route':'user', 'source':'fhm'} %}
{% set breadcrumbs = [{'link':path('project_home'), 'text':'project.home.breadcrumb'|trans({},'ProjectDefaultBundle')}, {'link':path('fos_user_profile_show'), 'text':('user.front.detail.breadcrumb')|trans({},'FhmUserBundle')}, {'link':'', 'text':('user.front.password.breadcrumb')|trans({},'FhmUserBundle'), 'current':true}] %}
{% set document = app.user %}
{% set layout_extend = "::layout.user.html.twig" %}
{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Front/update.html.twig" %}

{% block content_data_alert %}{% endblock %}
{% block content_data_submit %}{% endblock %}
{% block content_data_errors %}{% endblock %}

{% block content_data_form_action %}
    {{ path('fos_user_change_password') }}
{% endblock %}

{% block tagline_data %}
    <i class="fa fa-unlock-alt"></i> {{ (instance.translation ~ '.front.password.title')|trans }}
{% endblock %}

{% block content_data_fields_data %}
    <div class="row">
        <div class="column medium-6 medium-centered">
            <div>
                {{ form_label(form.current_password) }}
                {{ form_errors(form.current_password) }}
                {{ form_widget(form.current_password) }}
            </div>
            <div>
                {{ form_label(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div>
                {{ form_label(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <div>
                {{ form_widget(form.submitSave, {'attr':{'class':'button small fullwidth'}}) }}
            </div>
        </div>
    </div>
{% endblock %}