{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_card') }}" class="button small"><i class="fa fa-map"></i> {{ ('card.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_card_category') }}" class="button small"><i class="fa fa-folder"></i> {{ ('card.category.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_card_ingredient') }}" class="button small"><i class="fa fa-tag"></i> {{ ('card.ingredient.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_header %}
    <th>{{ (instance.translation ~ '.admin.index.table.header.image')|trans }}</th>
    {{ parent() }}
    <th>{{ (instance.translation ~ '.admin.index.table.header.card')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.categories')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.ingredients')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.order')|trans }}</th>
{% endblock %}

{% block content_data_header_status %}
    <th>{{ (instance.translation ~ '.admin.index.table.header.default')|trans }}</th>
    {{ parent() }}
{% endblock %}

{% block content_data_body %}
    <td>{{ object.getImage()|image('s',50)|raw }}</td>
    {{ parent() }}
    <td>{{ object.getVarSort('card') }}</td>
    <td>{{ object.getVarSort('category') }}</td>
    <td>{{ object.getVarSort('ingredient') }}</td>
    <td>{{ object.getOrder() }}</td>
{% endblock %}

{% block content_data_status %}
    <td>
        {% if object.getDefault() %}
            <span class="status success radius label">{{ ('fhm.status.yes')|trans({}, 'FhmFhmBundle') }}</span>
        {% else %}
            <span class="status warning radius label">{{ ('fhm.status.no')|trans({}, 'FhmFhmBundle') }}</span>
        {% endif %}
    </td>
    {{ parent() }}
{% endblock %}