{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/detail.html.twig" %}
{% import "::Macros/mappicker.html.twig" as macroMapPicker %}

{% block content_anchor_link %}
    <dd><a href="#anchor-top">top</a></dd>
    <dd><a href="#anchor-admin-data">data</a></dd>
    <dd><a href="#anchor-admin-map">map</a></dd>
    <dd><a href="#anchor-admin-url">url</a></dd>
    <dd><a href="#anchor-admin-tools">admin</a></dd>
{% endblock %}

{% block content_data %}

    {{ parent() }}
    <div class="row">
        <h2 id="anchor-admin-map">{{ (instance.translation ~ '.admin.detail.map.title')|trans }}</h2>
        {{ macroMapPicker.admin(document, instance) }}
    </div>

{% endblock %}

{% block content_url_information %}
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.url.admin.edit')|trans }}</strong>
        </td>
        <td>{{ path('fhm_admin_' ~ instance.route ~ '_update', {'id':document.getId()}) }}</td>
    </tr>
    <tr>
        <td><strong>{{ (instance.translation ~ '.admin.detail.url.admin.detail')|trans }}</strong>
        </td>
        <td>{{ path('fhm_admin_' ~ instance.route ~ '_detail', {'id':document.getId()}) }}</td>
    </tr>
{% endblock %}