{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_data_header %}
    <th>{{ (instance.translation ~ '.admin.index.table.header.name')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.map')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.order')|trans }}</th>
{% endblock %}

{% block content_data_body %}
    <td>{{ document.getName() }}</td>
    <td>{{ (document.getMap())|trans}}</td>
    <td>{{ document.getOrder() }}</td>
{% endblock %}