{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_workflow') }}" class="button small"><i class="fa fa-sitemap"></i> {{ ('workflow.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_task') }}" class="button small"><i class="fa fa-square"></i> {{ ('workflow.task.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_action') }}" class="button small"><i class="fa fa-ellipsis-h"></i> {{ ('workflow.action.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_step') }}" class="button small"><i class="fa fa-columns"></i> {{ ('workflow.step.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_workflow_comment') }}" class="button small"><i class="fa fa-comment"></i> {{ ('workflow.comment.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_header %}
    {{ parent() }}
    <th>{{ (instance.translation ~ '.admin.index.table.header.date')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.type')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.description')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.task')|trans }}</th>
{% endblock %}

{% block content_data_body %}
    {{ parent() }}
    <td>{{ object.getDateCreate()|localizeddate('short', 'short', app.request.locale) }}</td>
    <td>{{ (instance.translation ~ '.type.' ~ object.getType())|trans }}</td>
    <td>{{ object.getDescription()|raw }}</td>
    <td>{{ object.getTask() ? object.getTask().getName() : '' }}</td>
{% endblock %}