{% extends "::ajax.html.twig" %}
{% trans_default_domain 'ProjectDefaultBundle' %}

{% block content %}
    <div id="form-gallery-top-item" class="row gutter-margin-top">
        <div class="columns large-4">
            <form action="{{ path('project_moderator_gallery_top_item', {id:id}) }}" method="POST" data-type="ajax" data-content="#form-gallery-top-item">
                {% if not message[0] == '' %}
                    <div data-alert class="alert-box radius {{ message[0] }}">
                        {{ message[1] }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}
                <div class="row">
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="row">
                    {{ form_label(form.subtitle) }}
                    {{ form_errors(form.subtitle) }}
                    {{ form_widget(form.subtitle) }}
                </div>
                <div class="row">
                    {{ form_label(form.content) }}
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content) }}
                </div>
                <div class="row">
                    {{ form_label(form.image) }}
                    {{ form_errors(form.image) }}
                    {{ form_widget(form.image) }}
                </div>
                {{ form_rest(form) }}
                <div class="row">
                    <ul class="button-group">
                        <li>
                            <button type="submit" class="tiny">{{ ('project.moderator.form.button.' ~ (id ? 'update' : 'create'))|trans }}</button>
                        </li>
                        <li>
                            <a href="{{ path('project_moderator_gallery_top_item') }}" class="button tiny secondary" data-type="ajax" data-content="#form-gallery-top-item"><i class="fa fa-times"></i></a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="columns large-8">
            <div class="items">
                {% if site.getGalleryTop().getItems()|length > 0 %}
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                        {% for item in site.getGalleryTop().getItems() %}
                            {% if item.getActive() and not item.getDelete() %}
                                <li class="item">
                                    <div class="overlay">
                                        <a href="{{ path('project_moderator_gallery_top_item', {id:item.getId()}) }}" title="" data-type="ajax" data-content="#form-gallery-top-item"><i class="fa fa-pencil"></i></a>
                                        <a href="{{ path('project_moderator_gallery_delete', {id:item.getId(), gallery:'top_item'}) }}" title="" class="alert" data-type="ajax" data-content="#form-gallery-top-item"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="image" style="background:url({{ item.getImage()|media('m') }}) center center no-repeat"></div>
                                    <div class="title">{{ item.getTitle() }}</div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <span class="nodata">{{ (instance.translation ~ '.moderator.form.message.nodata')|trans }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    $(document).media();
    $(document).form({required: '{{ 'fhm.form.required'|trans({},'FhmFhmBundle') }}'});
    tinymce.remove('#ModeratorGalleryItem_content');
    tinymce.init({
    selector:    '#ModeratorGalleryItem_content',
    height:      100,
    language:    '{{ app.request.locale }}',
    plugins:     ['visualblocks visualchars charmap table contextmenu','textcolor fullscreen code codemirror'],
    toolbar1:    'bold italic | forecolor | fullscreen code | removeformat',
    menubar:     '',
    content_css: '/css/front.css',
    codemirror:  {path: 'codemirror'},
    setup:       function (editor){editor.on('change', function (){editor.save();});}
    });
{% endblock %}
