{% extends "::ajax.html.twig" %}
{% trans_default_domain 'ProjectDefaultBundle' %}

{% block content %}
    <form action="{{ path('project_moderator_site') }}" method="POST" data-type="ajax" data-content="#form-site" data-animation="false" data-live>
        <div id="form-site">
            {% if not message[0] == '' %}
                <div data-alert class="alert-box radius {{ message[0] }}">
                    {{ message[1] }}
                    <a href="#" class="close">&times;</a>
                </div>
            {% endif %}
            <div class="header {{ site.getDemo() ? 'disabled' : 'active' }}">
                {{ form_errors(form.demo) }}
                {{ form_label(form.demo) }}
                <div class="switch tiny">
                    {{ form_widget(form.demo) }}
                    <label for="{{ form.demo.vars.id }}"></label>
                </div>
                <div class="help">
                    <a href="#" data-reveal-id="modalHelpSite" title="{{ (instance.translation ~ '.moderator.form.help.title')|trans }}"><i class="fa fa-question"></i></a>
                    <div id="modalHelpSite" class="moderator-modal-help reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                        <h3 id="modalTitle">{{ (instance.translation ~ '.moderator.form.help.title')|trans }}</h3>
                        <fieldset>
                            <legend>{{ (instance.translation ~ '.moderator.help.site.demo.title')|trans }}</legend>
                            <p>{{ (instance.translation ~ '.moderator.help.site.demo.content')|trans }}</p>
                        </fieldset>
                        <fieldset>
                            <legend>{{ (instance.translation ~ '.moderator.help.site.position.title')|trans }}</legend>
                            <div class="row">
                                <div class="columns large-6 gutter-margin-bottom">
                                    <img src="{{ asset('images/help/moderator-site.jpg') }}" alt="site-position">
                                </div>
                                <div class="columns large-6 gutter-margin-bottom">
                                    <div class="row gutter-margin-bottom">
                                        <div class="columns small-2 medium-1 large-1">
                                            <span class="index">1</span>
                                        </div>
                                        <div class="columns small-10 medium-11 large-11">
                                            {{ (instance.translation ~ '.moderator.help.site.position.f_title')|trans }}
                                        </div>
                                    </div>
                                    <div class="row gutter-margin-bottom">
                                        <div class="columns small-2 medium-1 large-1">
                                            <span class="index">2</span>
                                        </div>
                                        <div class="columns small-10 medium-11 large-11">
                                            {{ (instance.translation ~ '.moderator.help.site.position.f_subtitle')|trans }}
                                        </div>
                                    </div>
                                    <div class="row gutter-margin-bottom">
                                        <div class="columns small-2 medium-1 large-1">
                                            <span class="index">3</span>
                                        </div>
                                        <div class="columns small-10 medium-11 large-11">
                                            {{ (instance.translation ~ '.moderator.help.site.position.f_logo')|trans }}
                                        </div>
                                    </div>
                                    <div class="row gutter-margin-bottom">
                                        <div class="columns small-2 medium-1 large-1">
                                            <span class="index">4</span>
                                        </div>
                                        <div class="columns small-10 medium-11 large-11">
                                            {{ (instance.translation ~ '.moderator.help.site.position.f_back_1')|trans }}
                                        </div>
                                    </div>
                                    <div class="row gutter-margin-bottom">
                                        <div class="columns small-2 medium-1 large-1">
                                            <span class="index">5</span>
                                        </div>
                                        <div class="columns small-10 medium-11 large-11">
                                            {{ (instance.translation ~ '.moderator.help.site.position.f_back_2')|trans }}
                                        </div>
                                    </div>
                                    <div class="row gutter-margin-bottom">
                                        <div class="columns small-2 medium-1 large-1">
                                            <span class="index">6</span>
                                        </div>
                                        <div class="columns small-10 medium-11 large-11">
                                            {{ (instance.translation ~ '.moderator.help.site.position.f_back_3')|trans }}
                                        </div>
                                    </div>
                                    <div class="row gutter-margin-bottom">
                                        <div class="columns small-2 medium-1 large-1">
                                            <span class="index">7</span>
                                        </div>
                                        <div class="columns small-10 medium-11 large-11">
                                            {{ (instance.translation ~ '.moderator.help.site.position.f_social')|trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                    </div>
                </div>
            </div>
            <ul class="accordion gutter-margin-top" data-accordion>
                <li class="accordion-navigation active">
                    <a href="#site-data"><i class="fa fa-header icon"></i>{{ (instance.translation ~ '.moderator.form.fieldset.data')|trans }}
                    </a>
                    <div id="site-data" class="content active">
                        <div class="row">
                            <div class="columns large-6">
                                <div class="row">
                                    {{ form_label(form.title) }}
                                    {{ form_errors(form.title) }}
                                    {{ form_widget(form.title) }}
                                </div>
                                <div class="row">
                                    {{ form_label(form.subtitle) }}
                                    {{ form_errors(form.subtitle) }}
                                    {{ form_widget(form.subtitle) }}
                                </div>
                            </div>
                            <div class="columns large-6">
                                <div class="row">
                                    {{ form_label(form.logo) }}
                                    {{ form_errors(form.logo) }}
                                    {{ form_widget(form.logo) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#site-back"><i class="fa fa-image icon"></i>{{ (instance.translation ~ '.moderator.form.fieldset.image-back')|trans }}
                    </a>
                    <div id="site-back" class="content">
                        <div class="row">
                            <div class="columns large-4">
                                <div class="row">
                                    {{ form_label(form.background_top) }}
                                    {{ form_errors(form.background_top) }}
                                    {{ form_widget(form.background_top) }}
                                </div>
                            </div>
                            <div class="columns large-4">
                                <div class="row">
                                    {{ form_label(form.background_card) }}
                                    {{ form_errors(form.background_card) }}
                                    {{ form_widget(form.background_card) }}
                                </div>
                            </div>
                            <div class="columns large-4">
                                <div class="row">
                                    {{ form_label(form.background_testimony) }}
                                    {{ form_errors(form.background_testimony) }}
                                    {{ form_widget(form.background_testimony) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#site-social"><i class="fa fa-feed icon"></i>{{ (instance.translation ~ '.moderator.form.fieldset.social')|trans }}
                    </a>
                    <div id="site-social" class="content">
                        <div class="row">
                            <div class="columns large-4">
                                <div class="form-social">
                                    <div class="row collapse">
                                        <div class="small-3 large-2 columns">
                                            <span class="prefix facebook social-icons"><i class="fa fa-facebook"></i></span>
                                        </div>
                                        <div class="small-9 large-10 columns">
                                            {{ form_errors(form.social_facebook) }}
                                            {{ form_widget(form.social_facebook) }}
                                        </div>
                                    </div>
                                    <div class="row collapse">
                                        <div class="small-3 large-2 columns">
                                            <span class="prefix twitter social-icons"><i class="fa fa-twitter"></i></span>
                                        </div>
                                        <div class="small-9 large-10 columns">
                                            {{ form_errors(form.social_twitter) }}
                                            {{ form_widget(form.social_twitter) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns large-4">
                                <div class="form-social">
                                    <div class="row collapse">
                                        <div class="small-3 large-2 columns">
                                            <span class="prefix google social-icons"><i class="fa fa-google"></i></span>
                                        </div>
                                        <div class="small-9 large-10 columns">
                                            {{ form_errors(form.social_google) }}
                                            {{ form_widget(form.social_google) }}
                                        </div>
                                    </div>
                                    <div class="row collapse">
                                        <div class="small-3 large-2 columns">
                                            <span class="prefix youtube social-icons"><i class="fa fa-youtube-play"></i></span>
                                        </div>
                                        <div class="small-9 large-10 columns">
                                            {{ form_errors(form.social_youtube) }}
                                            {{ form_widget(form.social_youtube) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns large-4">
                                <div class="form-social">
                                    <div class="row collapse">
                                        <div class="small-3 large-2 columns">
                                            <span class="prefix instagram social-icons"><i class="fa fa-instagram"></i></span>
                                        </div>
                                        <div class="small-9 large-10 columns">
                                            {{ form_errors(form.social_instagram) }}
                                            {{ form_widget(form.social_instagram) }}
                                        </div>
                                    </div>
                                    <div class="row collapse">
                                        <div class="small-3 large-2 columns">
                                            <span class="prefix flux social-icons"><i class="fa fa-rss"></i></span>
                                        </div>
                                        <div class="small-9 large-10 columns">
                                            {{ form_errors(form.social_flux) }}
                                            {{ form_widget(form.social_flux) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {{ form_rest(form) }}
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    $(document).media();
    $(document).form({required: '{{ 'fhm.form.required'|trans({},'FhmFhmBundle') }}'});
{% endblock %}
