{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_news') }}" class="button small"><i class="fa fa-newspaper-o"></i> {{ ('news.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_header %}
    {{ parent() }}
    <th>{{ (instance.translation ~ '.admin.index.table.header.news')|trans }}</th>
{% endblock %}

 {% block content_data_body %}
     {{ parent() }}
     <td>{{ document.getNews()|length }}</td>
 {% endblock %}

{% block content_data_action_share_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_delete_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_action_links %}
    {{ parent() }}
    <li>
        <a href="{{ path(instance.source ~ '_admin_' ~ instance.route ~ '_preview', {'id': document.getId()}) }}" title="{{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}" target="_blank"><i class="fa fa-fw fa-search"></i> {{ (instance.translation ~ '.admin.index.table.action.preview')|trans }}
        </a>
    </li>
{% endblock %}