{% trans_default_domain 'FhmContactBundle' %}
{% extends "::FhmMail/Template/" ~ version ~ ".html.twig" %}
{% import "::Macros/mail.html.twig" as macroMail %}

{% block body %}
    {{ macroMail.row('contact.email.body'|trans({'%firstname%':message.getField()['firstname']})|raw) }}
    {{ macroMail.row('<span style="color:#919191;text-transform:uppercase;font-size:12px;">' ~ ('contact.email.list.item1'|trans) ~ '</span><br>' ~ message.getId()) }}
    {{ macroMail.row('<span style="color:#919191;text-transform:uppercase;font-size:12px;">' ~ ('contact.email.list.item2'|trans) ~ '</span><br>' ~ message.getField()['firstname']) }}
    {{ macroMail.row('<span style="color:#919191;text-transform:uppercase;font-size:12px;">' ~ ('contact.email.list.item3'|trans) ~ '</span><br>' ~ message.getField()['lastname']) }}
    {{ macroMail.row('<span style="color:#919191;text-transform:uppercase;font-size:12px;">' ~ ('contact.email.list.item4'|trans) ~ '</span><br>' ~ message.getField()['email']) }}
    {{ macroMail.row('<span style="color:#919191;text-transform:uppercase;font-size:12px;">' ~ ('contact.email.list.item5'|trans) ~ '</span><br>' ~ message.getField()['phone']) }}
    {{ macroMail.row('<span style="color:#919191;text-transform:uppercase;font-size:12px;">' ~ ('contact.email.list.item6'|trans) ~ '</span><br>' ~ message.getField()['content']) }}
{% endblock %}