{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_edit' %}

{% block main %}
    <h1>{{ 'title.edit_post'|trans({'%id%': post.id}) }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.resume) }}
    {{ form_row(form.content) }}
    <input type="submit" value="{{ button_label|default('label.update_post'|trans) }}"
           class="{{ button_css|default("btn btn-primary") }}" />
    <a href="{{ path('admin_article_index') }}" class="btn btn-link">{{ 'action.back_to_list'|trans }}</a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ show_source_code(_self) }}
{% endblock %}
