{% trans_default_domain 'FhmUserBundle' %}

{% set breadcrumbs = [{'link':path('project_home'), 'text':'project.home.breadcrumb'|trans({},'ProjectDefaultBundle')}, {'link':'', 'text':('user.front.create.breadcrumb')|trans({},'FhmUserBundle'), 'current':true}] %}

{% extends "::FhmFhm/Front/create.html.twig" %}

{% block content_data_alert %}{% endblock %}
{% block content_data_submit %}{% endblock %}
{% block content_data_errors %}{% endblock %}

{% block content_data_form_action %}
    {{ path('fos_user_registration_register') }}
{% endblock %}

{% block tagline_data %}
    <i class="fa fa-user-plus"></i> {{ ('user.front.create.title')|trans }}
{% endblock %}

{% block content_data_fields_data %}
    <div class="row">
        <div class="column medium-6 medium-centered">
            <div>
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div>
                {{ form_label(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div>
                {{ form_label(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <div>
                {{ form_label(form.email.first) }}
                {{ form_errors(form.email.first) }}
                {{ form_widget(form.email.first) }}
            </div>
            <div>
                {{ form_label(form.email.second) }}
                {{ form_errors(form.email.second) }}
                {{ form_widget(form.email.second) }}
            </div>
            <div>
                {{ form_widget(form.submitSave, {'attr':{'class':'button small fullwidth'}}) }}
            </div>
        </div>
    </div>
{% endblock %}