{% extends "::layout.front.html.twig" %}
{% trans_default_domain 'ProjectDefaultBundle' %}

{% block body_header %}{% endblock %}

{% block body_content %}
    {% if site.getMenuHomeSide() %}
        {{ render(path('fhm_api_menu_detail',{template:'home-side','id':site.getDemo() ? 'demo' : site.getMenuHomeSide().getId()})) }}
    {% endif %}
    <header id="header" class="home">
        <div class="menu-icon">
            <a href="#"> <span></span> <span></span> <span></span> </a>
        </div>
        {% if site.getMenuHomeLeft() or site.getDemo() %}
            {{ render(path('fhm_api_menu_detail',{template:'home-left','id':site.getDemo() ? 'demo' : site.getMenuHomeLeft().getId()})) }}
        {% endif %}
        <div class="menu-logo">
            <a href="{{ path('project_home') }}" class="logo"><img src="{{ site.getDemo() ? asset('images/logo.png') : site.getLogo()|media('s', asset('images/logo.png')) }}" alt=""></a>
        </div>
        {% if site.getMenuHomeRight() or site.getDemo() %}
            {{ render(path('fhm_api_menu_detail',{template:'home-right','id':site.getDemo() ? 'demo' : site.getMenuHomeRight().getId()})) }}
        {% endif %}
    </header>
    <section id="main-content">
        <section class="section-top">
            <div class="parallax-image-top" data-parallax="scroll" data-image-src="{{ site.getDemo() ? asset('images/default.jpg') : site.getBackgroundTop()|media }}"></div>
            <div class="introduction">
                <div class="content">
                    <h2 class="title title-centered subtitle" data-bg-color="">{{ (site.getSubtitle() and not site.getDemo() ? site.getSubtitle() : 'project.home.default.subtitle'|trans)|raw }}</h2>
                </div>
                <h1 class="animated bounceInUp">{{ (site.getTitle() and not site.getDemo() ? site.getTitle() : 'project.home.default.title'|trans)|raw }}</h1>
            </div>
        </section>
        {% if site.getSlider() or site.getDemo() %}
            <section class="section-slider margin">
                {{ render(path('fhm_api_slider_detail',{template:'home','id':site.getDemo() ? 'demo' : site.getSlider().getId()})) }}
            </section>
        {% endif %}
        {% if site.getGalleryTop() or site.getDemo() %}
            <section class="section-gallery-top {{ site.getSlider() == '' and not site.getDemo() ? 'margin' : '' }}">
                <a id="anchor-about" class="anchor"></a>
                {{ render(path('fhm_api_gallery_detail',{template:'home-top','id':site.getDemo() ? 'demo' : site.galleryTop().getId()})) }}
            </section>
        {% endif %}
        {% if site.getCardSlider() or site.getDemo() %}
            <section class="section-card-slider">
                <a id="anchor-card" class="anchor"></a>
                <div class="parallax-image-card" data-parallax="scroll" data-image-src="{{ site.getDemo() ? asset('images/default.jpg') : site.getBackgroundCard()|media }}"></div>
                <header>
                    {% if site.getSubtitleCardSlider() or site.getDemo() %}
                        <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitleCardSlider()|raw }}</h3>
                    {% endif %}
                    {% if site.getTitleCardSlider() or site.getDemo() %}
                        <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitleCardSlider()|raw }}</h2>
                    {% endif %}
                </header>
                <div class="row">
                    {{ render(path('fhm_api_card_embed', {id:site.getDemo() ? 'demo' : site.getCardSlider().getId(), template:'M001'})) }}
                </div>
            </section>
        {% endif %}
        {% if site.getCardMain() or site.getDemo() %}
            <section class="section-card-main row {{ site.getCardSlider() and not site.getDemo() ? 'margin' : '' }}">
                <header>
                    {% if site.getSubtitleCardMain() or site.getDemo() %}
                        <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitleCardMain()|raw }}</h3>
                    {% endif %}
                    {% if site.getTitleCardMain() or site.getDemo() %}
                        <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitleCardMain()|raw }}</h2>
                    {% endif %}
                </header>
                {{ render(path('fhm_api_card_embed', {id:site.getDemo() ? 'demo' : site.getCardMain().getId(), template:'M002'})) }}
            </section>
        {% endif %}
        {% if site.getCardForward() or site.getDemo() %}
            <section class="section-card-forward">
                <header>
                    {% if site.getSubtitleCardForward() or site.getDemo() %}
                        <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitleCardForward()|raw }}</h3>
                    {% endif %}
                    {% if site.getTitleCardForward() or site.getDemo() %}
                        <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitleCardForward()|raw }}</h2>
                    {% endif %}
                </header>
                {{ render(path('fhm_api_card_embed', {id:site.getDemo() ? 'demo' : site.getCardForward().getId(), template:'M003'})) }}
            </section>
        {% endif %}
        <section class="section-testimony">
            <a id="anchor-testimony" class="anchor"></a>
            <div class="parallax-image-testimony" data-parallax="scroll" data-image-src="{{ site.getBackgroundTestimony()|media }}"></div>
            <header>
                {% if site.getSubtitleTestimony() or site.getDemo() %}
                    <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitleTestimony()|raw }}</h3>
                {% endif %}
                {% if site.getTitleTestimony() or site.getDemo() %}
                    <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitleTestimony()|raw }}</h2>
                {% endif %}
            </header>
            <div class="row">
                {{ render(path('fhm_api_testimony_detail', {template:'home', id:site.getDemo() ? 'demo' : ''})) }}
            </div>
        </section>
        {% if site.getContact() or site.getDemo() %}
            <section class="section-contact margin">
                <a id="anchor-contact" class="anchor"></a>
                {{ render(path('fhm_api_contact_detail', {id:site.getDemo() ? 'demo' : site.getContact().getId(), template:'home'})) }}
            </section>
        {% endif %}
        {% if site.getGalleryBottom() or site.getDemo() %}
            <section class="section-gallery-bottom">
                <a id="anchor-about" class="anchor"></a>
                {{ render(path('fhm_api_gallery_detail',{template:'home-bottom','id':site.getDemo() ? 'demo' : site.getGalleryBottom().getId()})) }}
            </section>
        {% endif %}
    </section>
{% endblock %}