{% extends "::layout.front.html.twig" %}
{% trans_default_domain 'ProjectDefaultBundle' %}

{% block body_header %}{% endblock %}

{% block body_content %}
    {{ render(path('fhm_api_menu_detail',{template:'home-side','id':'demo'})) }}
    <header id="header" class="home">
        <div class="menu-icon">
            <a href="#"> <span></span> <span></span> <span></span> </a>
        </div>
        {{ render(path('fhm_api_menu_detail',{template:'home-left','id':'demo'})) }}
        <div class="menu-logo">
            <a href="{{ path('project_home') }}" class="logo"><img src="{{ asset('images/logo.png') }}" alt=""></a>
        </div>
        {{ render(path('fhm_api_menu_detail',{template:'home-right','id':'demo'})) }}
    </header>
    <section id="main-content">
        <section class="section-top">
            <div class="parallax-image-top" data-parallax="scroll" data-image-src="{{ asset('images/default-parallax.jpg') }}"></div>
            <div class="introduction">
                <div class="content">
                    <h2 class="title title-centered subtitle" data-bg-color="">{{ 'project.home.default.subtitle'|trans }}</h2>
                </div>
                <h1 class="animated bounceInUp">{{ 'project.home.default.title'|trans }}</h1>
            </div>
        </section>
        <section class="section-slider margin">
            {{ render(path('fhm_api_slider_detail',{template:'home','id':'demo'})) }}
        </section>
        <section class="section-gallery-top">
            <a id="anchor-about" class="anchor"></a>
            {{ render(path('fhm_api_gallery_detail',{template:'home-top','id':'demo'})) }}
        </section>
        <section class="section-card-slider">
            <a id="anchor-card" class="anchor"></a>
            <div class="parallax-image-card" data-parallax="scroll" data-image-src="{{ asset('images/default-parallax.jpg') }}"></div>
            <header>
                <h3 class="subtitle">{{ 'project.home.default.subtitle'|trans }}</h3>
                <h2>{{ 'project.home.default.title'|trans }}</h2>
            </header>
            <div class="row">
                {{ render(path('fhm_api_card_embed', {id:'demo', template:'M001'})) }}
            </div>
        </section>
        <section class="section-card-main margin row">
            <header>
                <h3 class="subtitle">{{ 'project.home.default.subtitle'|trans }}</h3>
                <h2>{{ 'project.home.default.title'|trans }}</h2>
            </header>
            {{ render(path('fhm_api_card_embed', {id:'demo', template:'M002'})) }}
        </section>
        <section class="section-card-forward">
            <header>
                <h3 class="subtitle">{{ 'project.home.default.subtitle'|trans }}</h3>
                <h2>{{ 'project.home.default.title'|trans }}</h2>
            </header>
            {{ render(path('fhm_api_card_embed', {id:'demo', template:'M003'})) }}
        </section>
        <section class="section-testimony">
            <a id="anchor-testimony" class="anchor"></a>
            <div class="parallax-image-testimony" data-parallax="scroll" data-image-src="{{ asset('images/default-parallax.jpg') }}"></div>
        </section>
        <section class="section-contact margin">
            <a id="anchor-contact" class="anchor"></a>
            {{ render(path('fhm_api_contact_detail', {id:'demo', template:'home'})) }}
        </section>
        <section class="section-gallery-bottom">
            {{ render(path('fhm_api_gallery_detail',{template:'home-bottom','id':'demo'})) }}
        </section>
    </section>
    <footer id="footer">
        <div class="row">
            <div class="large-4 columns nopadding">
                <a href="#"><img src="/images/logo.png" alt=""/></a>
            </div>
            <div class="large-4 columns copyright nopadding">
                <p>&copy; DynamicFrameworks - Elite ThemeForest Author.</p>
            </div>
            <div class="large-4 columns nopadding">
                <a href="#"></a>
            </div>
        </div>
    </footer>
    </div>
{% endblock %}