{% extends "::layout.front.html.twig" %}
{% trans_default_domain 'ProjectDefaultBundle' %}

{% block body_header %}{% endblock %}

{% block body_content %}
    {{ render(path('fhm_api_menu_detail',{template:'home-side','id':'demo'})) }}
    <header id="header" class="home">
        <div class="menu-icon">
            <a href="#"> <span></span> <span></span> <span></span> </a>
        </div>
        {{ render(path('fhm_api_menu_detail',{template:'home-left','id':'demo'})) }}
        <div class="menu-logo">
            <a href="{{ path('project_home') }}" class="logo"><img src="{{ asset('images/logo.png') }}" alt=""></a>
        </div>
        {{ render(path('fhm_api_menu_detail',{template:'home-right','id':'demo'})) }}
    </header>
    <section id="main-content">
        <section class="section-top">
            <div class="parallax-image-top" data-parallax="scroll" data-image-src="{{ asset('images/default-parallax.jpg') }}"></div>
            <div class="introduction">
                <div class="content">
                    <h2 class="title title-centered subtitle" data-bg-color="">{{ 'project.home.default.subtitle'|trans }}</h2>
                </div>
                <h1 class="animated bounceInUp">{{ 'project.home.default.title'|trans }}</h1>
            </div>
        </section>
        <section class="margin">
            {# SLIDER #}
            {{ render(path('fhm_api_slider_detail',{template:'home','id':'demo'})) }}
            {# GALLERY TOP #}
            <a id="anchor-about" class="anchor"></a>
            {{ render(path('fhm_api_gallery_detail',{template:'home-top','id':'demo'})) }}
        </section>
        <section class="section-card-slider">
            <a id="anchor-card" class="anchor"></a>
            <div class="parallax-image-card" data-parallax="scroll" data-image-src="{{ asset('images/default-parallax.jpg') }}"></div>
            <header>
                <h3 class="subtitle">{{ 'project.home.default.subtitle'|trans }}</h3>
                <h2>{{ 'project.home.default.title'|trans }}</h2>
            </header>
            <div class="row">
                {{ render(path('fhm_api_card_embed', {id:'demo', template:'M001'})) }}
            </div>
        </section>
        <section class="section-card-main margin row">
            <div class="wrapper-title">
                <h3 class="subtitle">{{ 'project.home.default.subtitle'|trans }}</h3>
                <h2>{{ 'project.home.default.title'|trans }}</h2>
            </div>
            {{ render(path('fhm_api_card_embed', {id:'demo', template:'M002'})) }}
        </section>
        <section class="section-card-forward">
            <header>
                <h3 class="subtitle">{{ 'project.home.default.subtitle'|trans }}</h3>
                <h2>{{ 'project.home.default.title'|trans }}</h2>
            </header>
            {{ render(path('fhm_api_card_embed', {id:'demo', template:'M003'})) }}
        </section>
        <section class="section-contact">
            <a id="anchor-contact" class="anchor"></a>
            <div class="parallax-image-contact" data-parallax="scroll" data-image-src="{{ asset('images/default-parallax.jpg') }}"></div>
            {{ render(path('fhm_api_contact_detail', {id:'demo', template:'home'})) }}
        </section>
        <div class="row-slide">
            <header class="header-title header-slide gray">
                <h3>Luctus ultrices posuere cubilia</h3>
                <h2>Some words from our visitors</h2>
            </header>
            <div class="row">
                <div class="large-12 columns">
                    <div class="slider-for">
                        <div class="slick-slide">Ut iaculis ligula arcu, sit amet efficitur elit rutrum at. Cum sociis
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas lacinia
                            consectetur nibh, a ultricies turpis blandit sit amet. Duis ac metus in lacus elementum
                            imperdiet sodales sed ex. Curabitur convallis eget leo a sagittis.
                        </div>
                        <div class="slick-slide">Ut iaculis ligula arcu, sit amet efficitur elit rutrum at. Cum sociis
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas lacinia
                            consectetur nibh, a ultricies turpis blandit sit amet. Duis ac metus in lacus elementum
                            imperdiet sodales sed ex. Curabitur convallis eget leo a sagittis.
                        </div>
                        <div class="slick-slide">Ut iaculis ligula arcu, sit amet efficitur elit rutrum at. Cum sociis
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas lacinia
                            consectetur nibh, a ultricies turpis blandit sit amet. Duis ac metus in lacus elementum
                            imperdiet sodales sed ex. Curabitur convallis eget leo a sagittis.
                        </div>
                    </div>
                    <div class="syn-slider">
                        <div>
                            <img src="/images/user_5-135x135.jpg" alt=""/>
                            <p class="title">Mark Stephenson</p>
                            <p>Mauris quis facilisis mi</p>
                        </div>
                        <div>
                            <img src="/images/user_3-135x135.jpg" alt=""/>
                            <p class="title">Mark Stephenson</p>
                            <p>Mauris quis facilisis mi</p>
                        </div>
                        <div>
                            <img src="/images/user_1-135x135.jpg" alt=""/>
                            <p class="title">Mark Stephenson</p>
                            <p>Mauris quis facilisis mi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-four-cols">
            <div class="row full-width four-cols-footer">
                <div class="large-3 columns nopadding animation-top">
                    <img src="/images/11.jpg" alt=""/>
                </div>
                <div class="large-3 columns nopadding animation-bottom">
                    <img src="/images/22.jpg" alt=""/>
                </div>
                <div class="large-3 columns nopadding animation-top">
                    <img src="/images/33.jpg" alt=""/>
                </div>
                <div class="large-3 columns nopadding animation-bottom">
                    <img src="/images/44.jpg" alt=""/>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="row">
            <div class="large-4 columns nopadding">
                <a href="#"><img src="/images/logo.png" alt=""/></a>
            </div>
            <div class="large-4 columns copyright nopadding">
                <p>&copy; DynamicFrameworks - Elite ThemeForest Author.</p>
            </div>
            <div class="large-4 columns nopadding">
                <a href="#"></a>
            </div>
        </div>
    </footer>
    </div>
{% endblock %}