{% extends "::layout.front.html.twig" %}
{% trans_default_domain 'ProjectDefaultBundle' %}

{% block body_header %}{% endblock %}

{% block body_content %}
    {% if site.getMenuHomeSide() %}
        {{ render(path('fhm_api_menu_detail',{template:'side','id':site.getDemo() ? 'demo' : site.getMenuHomeSide().getId()})) }}
    {% endif %}
    <header id="header" class="home">
        <div class="menu-icon">
            <a href="#"> <span></span> <span></span> <span></span> </a>
        </div>
        {% if site.getMenuHomeLeft() or site.getDemo() %}
            {{ render(path('fhm_api_menu_detail',{template:'home-left','id':site.getDemo() ? 'demo' : site.getMenuHomeLeft().getId()})) }}
        {% endif %}
        <div class="menu-logo">
            <a href="{{ path('project_home') }}" class="logo"><img src="{{ site.getDemo() ? asset('images/logo.png') : site.getLogo()|media('s', asset('images/logo.png')) }}" alt=""></a>
        </div>
        {% if site.getMenuHomeRight() or site.getDemo() %}
            {{ render(path('fhm_api_menu_detail',{template:'home-right','id':site.getDemo() ? 'demo' : site.getMenuHomeRight().getId()})) }}
        {% endif %}
    </header>
    <section id="main-content">
        <section class="section-top">
            <div class="parallax-image-top" data-parallax="scroll" data-image-src="{{ site.getDemo() ? asset('images/default.jpg') : site.getBackgroundTop()|media }}"></div>
            <div class="introduction">
                <h1 class="animated bounceInUp">{{ (site.getTitle() and not site.getDemo() ? site.getTitle() : 'project.home.default.title'|trans)|raw }}</h1>
                <div class="content">
                    <h2 class="title title-centered subtitle" data-bg-color="">{{ (site.getSubtitle() and not site.getDemo() ? site.getSubtitle() : 'project.home.default.subtitle'|trans)|raw }}</h2>
                </div>
            </div>
        </section>
        {% if site.isShow('slider') %}
            <section class="section-slider margin">
                {{ render(path('fhm_api_slider_detail',{template:'home','id':site.getSlider() == '' or site.getDemo() ? 'demo' : site.getSlider().getId()})) }}
            </section>
        {% endif %}
        {% if site.isShow('gallery_top') %}
            <section class="section-gallery-top {{ not site.isShow('slider') ? 'margin' : '' }}">
                <a id="anchor-about" class="anchor"></a>
                {{ render(path('fhm_api_gallery_detail',{template:'home-top','id':site.galleryTop() == '' or site.getDemo() ? 'demo' : site.galleryTop().getId()})) }}
            </section>
        {% endif %}
        {% if site.isShow('news') %}
            <section class="section-news {{ not site.isShow('slider') and not site.isShow('gallery_top') ? 'margin' : '' }}">
                <a id="anchor-news" class="anchor"></a>
                <header>
                    {% if site.getTitleNews() or site.getDemo() %}
                        <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitleNews()|raw }}</h2>
                    {% endif %}
                    {% if site.getSubtitleNews() or site.getDemo() %}
                        <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitleNews()|raw }}</h3>
                    {% endif %}
                </header>
                <div class="row">
                    {{ render(path('fhm_api_news_detail',{template:'home', rows:4, 'id':site.getNews() == '' or site.getDemo() ? 'demo' : site.getNews().getId()})) }}
                </div>
            </section>
        {% endif %}
        {% if site.isShow('card_slider') %}
            <section class="section-card-slider">
                <a id="anchor-card" class="anchor"></a>
                <div class="parallax-image-card" data-parallax="scroll" data-image-src="{{ site.getDemo() ? asset('images/default.jpg') : site.getBackgroundCard()|media }}"></div>
                <header>
                    {% if site.getTitleCardSlider() or site.getDemo() %}
                        <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitleCardSlider()|raw }}</h2>
                    {% endif %}
                    {% if site.getSubtitleCardSlider() or site.getDemo() %}
                        <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitleCardSlider()|raw }}</h3>
                    {% endif %}
                </header>
                <div class="row">
                    {{ render(path('fhm_api_card_embed', {template:'M001',id:site.getCardSlider() == '' or site.getDemo() ? 'demo' : site.getCardSlider().getId()})) }}
                </div>
            </section>
        {% endif %}
        {% if site.isShow('card_main') %}
            <section class="section-card-main row {{ site.isShow('card_slider') ? 'margin' : '' }}">
                <header>
                    {% if site.getTitleCardMain() or site.getDemo() %}
                        <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitleCardMain()|raw }}</h2>
                    {% endif %}
                    {% if site.getSubtitleCardMain() or site.getDemo() %}
                        <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitleCardMain()|raw }}</h3>
                    {% endif %}
                </header>
                {{ render(path('fhm_api_card_embed', {template:'M002',id:site.getCardMain() == '' or site.getDemo() ? 'demo' : site.getCardMain().getId()})) }}
            </section>
        {% endif %}
        {% if site.isShow('card_forward') %}
            <section class="section-card-forward">
                <header>
                    {% if site.getTitleCardForward() or site.getDemo() %}
                        <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitleCardForward()|raw }}</h2>
                    {% endif %}
                    {% if site.getSubtitleCardForward() or site.getDemo() %}
                        <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitleCardForward()|raw }}</h3>
                    {% endif %}
                </header>
                {{ render(path('fhm_api_card_embed', {template:'M003',id:site.getCardForward() == '' or site.getDemo() ? 'demo' : site.getCardForward().getId()})) }}
            </section>
        {% endif %}
        {% if site.isShow('testimony') %}
            <section class="section-testimony">
                <a id="anchor-testimony" class="anchor"></a>
                <div class="parallax-image-testimony" data-parallax="scroll" data-image-src="{{ site.getBackgroundTestimony()|media }}"></div>
                <header>
                    {% if site.getTitleTestimony() or site.getDemo() %}
                        <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitleTestimony()|raw }}</h2>
                    {% endif %}
                    {% if site.getSubtitleTestimony() or site.getDemo() %}
                        <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitleTestimony()|raw }}</h3>
                    {% endif %}
                </header>
                <div class="row">
                    {{ render(path('fhm_api_testimony_detail', {template:'home', id:site.getDemo() ? 'demo' : ''})) }}
                </div>
            </section>
        {% endif %}
        {% if site.isShow('contact') %}
            <a id="anchor-contact" class="anchor"></a>
            <section class="section-contact {{ site.isShow('testimony') ? 'margin' : 'gutter-margin-top' }} {{ site.isShow('gallery_bottom') or site.isShow('partner') ? '' : 'gutter-margin-bottom' }}">
                <a id="anchor-contact" class="anchor"></a>
                {{ render(path('fhm_api_contact_detail', {template:'home',id:site.getContact() == '' or site.getDemo() ? 'demo' : site.getContact().getId()})) }}
            </section>
        {% endif %}
        {% if site.isShow('partner') %}
            <section class="section-partner row {{ site.isShow('testimony') and not site.isShow('contact') ? 'margin' : '' }} {{ site.isShow('gallery_bottom') ? '' : 'gutter-margin-bottom' }}">
                <a id="anchor-partner" class="anchor"></a>
                <header>
                    {% if site.getTitlePartner() or site.getDemo() %}
                        <h2>{{ site.getDemo() ? 'project.home.default.title'|trans : site.getTitlePartner()|raw }}</h2>
                    {% endif %}
                    {% if site.getSubtitlePartner() or site.getDemo() %}
                        <h3 class="subtitle">{{ site.getDemo() ? 'project.home.default.subtitle'|trans : site.getSubtitlePartner()|raw }}</h3>
                    {% endif %}
                </header>
                {{ render(path('fhm_api_partner_detail', {template:'home', id:site.getDemo() ? 'demo' : (site.getPartner() ? site.getPartner().getId() : '')})) }}
            </section>
        {% endif %}
        {% if site.isShow('gallery_bottom') %}
            <section class="section-gallery-bottom">
                <a id="anchor-about" class="anchor"></a>
                {{ render(path('fhm_api_gallery_detail',{template:'home-bottom','id':site.getGalleryBottom() == '' or site.getDemo() ? 'demo' : site.getGalleryBottom().getId()})) }}
            </section>
        {% endif %}
    </section>
{% endblock %}