{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_data_header %}
    {#<th>{{ (instance.translation ~ '.admin.index.table.header.name')|trans }}{{ macroSort.print('alias', sort) }}</th>#}
    <th>{{ (instance.translation ~ '.admin.index.table.header.route')|trans }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.type')|trans }}</th>
{% endblock %}
{% block content_data_body %}
    <td>{{ object.getName() }}</td>
    <td>{{ object.getRoute() }}</td>
    <td>{{ object.getActivemenumode() ? '<span class="radius info label">Menu</span>' : '<span class="radius secondary label">Categorie</span>' }}</td>
{% endblock %}

