{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/update.html.twig" %}
   {% block javascripts %}
       {{ parent() }}
       <script src="{{ asset('js/jquery.reveal.js') }}"></script>
   {% endblock %}
{% block body_javascripts_script %}
    {{ parent() }}
    <script>
        // Verification du parent avant d'envoyer le formulaire
        $(document).ready(function ()
        {
            var name = $('#FhmUpdate_name').val();
            var parent = $('#FhmUpdate_parent').val();
            if(parent.length != 0) // si le parent n'est pas vide
            {
                document.forms['updateform'].elements['FhmUpdate_parent'].onchange = function (e)
                {
                    if(this.value == "")// si on essay de mettre une valeur vide dans le parent
                    {
                        document.getElementById('updateform').addEventListener('submit', function (e)
                        {
                            $('#modalInfo').foundation('reveal', 'open'); //lancer la modale d'informations
                            e.preventDefault();// Empêche le navigateur d'envoyer les données
                        }, true);
                    }
                };
            }
        });
    </script>
{% endblock %}

    {% block content_data_fields_data %}
        <div id="modalInfo" class="reveal-modal" data-reveal aria-labelledby="compte existant" aria-hidden="true" role="dialog">
            <h4>Vous ne pouvez pas laisser le parent vide !</h4>
            <p>Veuillez re-créer votre categorie !</p>
            <p>Pensez a rattacher vos produits a votre nouvelle categorie</p>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <div class="large-6 medium-6 small-12 columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.data')|trans }}</legend>
                <div class="row">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="row">
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="row">
                    {{ form_label(form.content) }}
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content) }}
                </div>
            </fieldset>
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <fieldset>
                <legend>{{ (instance.translation ~ '.admin.create.form.fieldset.datacategory')|trans }}</legend>
                <div class="row">
                    {{ form_label(form.parent) }}
                    {{ form_errors(form.parent) }}
                    {{ form_widget(form.parent) }}
                </div>
                <div class="row">
                    {{ form_errors(form.activeimage) }}
                    {{ form_label(form.activeimage) }}
                    <div class="switch">
                        {{ form_widget(form.activeimage) }}
                        <label for="{{ form.activeimage.vars.id }}"></label>
                    </div>
                </div>
                <div class="row">
                    {{ form_errors(form.activemenumode) }}
                    {{ form_label(form.activemenumode) }}
                    <div class="switch">
                        {{ form_widget(form.activemenumode) }}
                        <label for="{{ form.activemenumode.vars.id }}"></label>
                    </div>
                </div>
                <div class="row">
                    {{ form_label(form.price) }}
                    {{ form_errors(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                <div class="row">
                    {{ form_label(form.order) }}
                    {{ form_errors(form.order) }}
                    {{ form_widget(form.order) }}
                </div>
                <p>L'ordre actuel:</p>
                {#{% for category in categories %}#}
                    {#<span class="status success radius label">{{ category.getName() }}</span>#}
                {#{% endfor %}#}
            </fieldset>
        </div>
    {% endblock %}