{% trans_default_domain instance.domain %}
{% extends "::FhmFhm/Admin/index.html.twig" %}

{% block content_link_data %}
    {{ parent() }}
    <li>
        <a href="{{ path('fhm_admin_card') }}" class="button small"><i class="fa fa-map"></i> {{ ('card.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_card_product') }}" class="button small"><i class="fa fa-cube"></i> {{ ('card.product.admin.index.link')|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('fhm_admin_card_ingredient') }}" class="button small"><i class="fa fa-tag"></i> {{ ('card.ingredient.admin.index.link')|trans }}
        </a>
    </li>
{% endblock %}

{% block content_data_header %}
    <th>{{ (instance.translation ~ '.admin.index.table.header.image')|trans }}</th>
    {{ parent() }}
    <th {% if pagination.isSorted('sort_card') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, (instance.translation ~ '.admin.index.table.header.card')|trans, 'sort_card')|raw }}</th>
    <th>{{ (instance.translation ~ '.admin.index.table.header.route')|trans }}</th>
    <th {% if pagination.isSorted('sort_product') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, (instance.translation ~ '.admin.index.table.header.products')|trans, 'sort_product')|raw }}</th>
    <th {% if pagination.isSorted('menu') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, (instance.translation ~ '.admin.index.table.header.menu')|trans, 'menu')|raw }}</th>
    <th {% if pagination.isSorted('order') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, (instance.translation ~ '.admin.index.table.header.order')|trans, 'order')|raw }}</th>
{% endblock %}

{% block content_data_header_status %}
    <th {% if pagination.isSorted('default') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, (instance.translation ~ '.admin.index.table.header.default')|trans, 'default')|raw }}</th>
    {{ parent() }}
{% endblock %}

{% block content_data_body %}
    <td>{{ object.getImage()|image('s',50)|raw }}</td>
    {{ parent() }}
    <td>{{ object.getVarSort('card') }}</td>
    <td>{{ object|cardCategoryRoute(instance)|raw }}</td>
    <td>{{ object.getVarSort('product') }}</td>
    <td>
        {% if object.getMenu() %}
            <span class="status success radius label">{{ ('fhm.status.yes')|trans({}, 'FhmFhmBundle') }}</span>
        {% else %}
            <span class="status warning radius label">{{ ('fhm.status.no')|trans({}, 'FhmFhmBundle') }}</span>
        {% endif %}
    </td>
    <td>{{ object.getOrder() }}</td>
{% endblock %}

{% block content_data_status %}
    <td>
        {% if object.getDefault() %}
            <span class="status success radius label">{{ ('fhm.status.yes')|trans({}, 'FhmFhmBundle') }}</span>
        {% else %}
            <span class="status warning radius label">{{ ('fhm.status.no')|trans({}, 'FhmFhmBundle') }}</span>
        {% endif %}
    </td>
    {{ parent() }}
{% endblock %}